openapi: 3.2.0
info:
  version: 1.0.5
  title: Bank Contacts Banks API
  description: Afinis is a diverse group of organizations working to support advancement and use of API standardization in the financial services industry. Utilization of this API requires a developer to [register](https://www.afinis.org/user/register) their application.
servers:
- url: https://api.afinis.org/v1
tags:
- name: Banks
paths:
  /banks/{bank_id}/contact:
    get:
      summary: Financial institution contact information for fraud or operational issues
      tags:
      - Banks
      operationId: findByBankIdAndReason
      parameters:
      - name: bank_id
        in: path
        required: true
        description: 9 digit financial institution routing transit number (RTN)
        schema:
          type: string
          maxLength: 9
          minLength: 9
      - name: reason
        in: query
        required: true
        description: 'Reason for Inquiry * ACH_FRAUD - ACH fraud operations

          '
        schema:
          type: string
          enum:
          - ACH_FRAUD
          - WIRE_FRAUD
      - name: Request_Id
        in: header
        required: false
        description: Optional Request ID allows application developer to trace requests through the systems logs
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A Bank object with the supplied Bank ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankContact'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-401'
        '404':
          description: Not Found
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-500'
        '503':
          description: Service unavailable
      security:
      - APIKeyQueryParam: []
components:
  schemas:
    error-500:
      title: 500 Error
      type: object
      properties:
        detail:
          description: error details
          type: array
          items:
            $ref: '#/components/schemas/errorDetails-500'
    errorDetails-401:
      title: 401 ErrorDetails
      type: object
      properties:
        errorcode:
          description: A programmatic error code
          example: 1000
          type: number
          enum:
          - '1000': null
            description: API key is missing, invalid or expired.
          - '1001': null
            description: API token is invalid, expired, or account associated with key does not have access to that API.
        message:
          description: A human readable description of the problem
          example: API key is missing, invalid or expired.
          type: string
      required:
      - errorcode
      - message
    errorDetails-400:
      title: ErrorDetails
      type: object
      properties:
        errorcode:
          description: A programmatic error code
          example: 2000
          type: string
        message:
          description: A human readable description of the problem
          example: Invalid request.
          type: string
      required:
      - errorcode
      - message
    error-401:
      title: 401 Error
      type: object
      properties:
        detail:
          description: error details
          type: array
          items:
            $ref: '#/components/schemas/errorDetails-401'
    errorDetails-500:
      title: 500 ErrorDetails
      type: object
      properties:
        errorcode:
          description: A programmatic error code
          example: 3001
          type: number
        message:
          description: A human readable description of the problem
          example: Internal Server error
          type: string
      required:
      - errorcode
      - message
    error-400:
      title: Error
      type: object
      properties:
        detail:
          description: error details
          type: array
          items:
            $ref: '#/components/schemas/errorDetails-400'
    BankContact:
      title: BankContact
      type: object
      properties:
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
    ContactDetails:
      title: ContactDetails
      type: object
      properties:
        name:
          description: ''
          example: John Smith
          type: string
        phoneNumber:
          description: Phone number is 35 characters long
          type: string
          minLength: 12
          maxLength: 35
          example: 704-567-5678
        emailAddress:
          description: ''
          example: joe.smith@bankemail.com
          type: string
  securitySchemes:
    APIKeyQueryParam:
      type: apiKey
      in: query
      name: apikey
