{"swagger":"2.0","info":{"version":"1.0.5","title":"Get Corporate Transaction History API","description":"As a corporate or business bank customer, I need to be able to retrieve financial transaction history so that I can review the data or integrate into other business applications.","contact":{"email":"info@afinis.org","url":"https://www.afinis.org"}},"host":"api.afinis.org","basePath":"/ASIG/Get_Corporate_Transaction_History_API/1.0.0/accounts/v1","securityDefinitions":{"APIKeyQueryParam":{"type":"apiKey","in":"query","name":"apikey"}},"consumes":["application/json"],"produces":["application/json"],"schemes":["https"],"paths":{"/transactions/history":{"post":{"operationId":"Get Corporate Transaction History","tags":["Get Corporate Transaction History"],"description":"Retrieve financial transaction history for my account(s) for a date or date range","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"Retrieve Transaction History","required":true,"schema":{"type":"object","required":["searchCriteria"],"properties":{"agent":{"$ref":"#/definitions/agent"},"searchCriteria":{"type":"array","items":{"$ref":"#/definitions/searchCriteria"}}}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/response-200"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/error-400"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/error-401"}},"403":{"description":"Access denied, the operation is not allowed"},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error-404"}},"500":{"description":"Internal Server error","schema":{"$ref":"#/definitions/error-500"}},"503":{"description":"Service unavailable","schema":{"$ref":"#/definitions/error-503"}}},"security":[{"APIKeyQueryParam":[]}]}}},"definitions":{"agent":{"title":"Agent","description":"Identification of a financial institution.","type":"object","required":["clearingSystemIdentification","memberIdentification"],"properties":{"clearingSystemIdentification":{"type":"string","example":"USABA","enum":["USABA"],"description":"Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed: \n * `USABA` - Routing Transit number assigned by the ABA for US financial Institutions. \n"},"memberIdentification":{"type":"string","maxLength":35,"example":"061103852"}}},"searchCriteria":{"title":"SearchCriteria","description":"Defines the criteria on which the information is extracted","type":"object","required":["accountIdentification"],"properties":{"accountIdentification":{"$ref":"#/definitions/accountIdentification"},"fromDate":{"type":"string","description":"Start date of the range","example":"2020-04-29","minLength":10,"maxLength":10},"toDate":{"type":"string","description":"End date of the range","example":"2020-05-19","minLength":10,"maxLength":10}}},"accountIdentification":{"title":"accountIdentification","description":"Unique and unambiguous identification for the account between the account owner and the account servicer.","type":"object","required":["identification"],"properties":{"identification":{"type":"string","description":"Identification assigned by an institution","example":"12345678","minLength":1,"maxLength":34},"isToken":{"type":"string","example":"N","default":"N","enum":["Y","N"],"description":"Specifies whether the account identification is tokenized:\n  * `Y` - Account is tokenized\n  * `N` - Account is not tokenized\n  \n"}}},"response-200":{"title":"Response 200 - OK","type":"object","description":"Response containing transaction history","required":["businessReport"],"properties":{"agent":{"$ref":"#/definitions/agent"},"accountReport":{"type":"array","items":{"$ref":"#/definitions/businessReport"}}}},"businessReport":{"title":"BusinessReport","description":"Reports on payment transactions.","type":"object","required":["account","transactionsSummary","transactionReport"],"properties":{"account":{"$ref":"#/definitions/accountIdentification"},"transactionsSummary":{"$ref":"#/definitions/transactionsSummary"},"transactionReport":{"type":"array","items":{"$ref":"#/definitions/transactionReport"}}}},"transactionsSummary":{"title":"Transactions Summary","description":"Indicates the total number and sum of the transactions.","type":"object","required":["numberOfEntries","totalAvailableEntries","totalCreditEntries","totalDebitEntries"],"properties":{"numberOfEntries":{"type":"number","example":2,"minLength":1,"maxLength":15},"totalAvailableEntries":{"type":"number","example":3,"minLength":1,"maxLength":15},"totalCreditEntries":{"type":"number","example":300,"minLength":1,"maxLength":15},"totalDebitEntries":{"type":"number","example":100,"minLength":1,"maxLength":15}}},"transactionReport":{"title":"Transactions Summary","description":"Reports on the transaction information.","type":"object","required":["transactionIdentification","creditDebitIndicator","instructedAmount","currency","type","description","endToEndIdentification"],"properties":{"transactionIdentification":{"type":"string","example":"sampleTransaction001","minLength":1,"maxLength":35},"creditDebitIndicator":{"example":"CRDT","enum":["CRDT","DBIT"],"description":"Definition: Indicates whether the balance is a credit or a debit balance. A zero balance is considered to be a credit balance\n * `CRDT` - Credit\n * `DBIT` - Debit\n"},"instructedAmount":{"type":"number","example":1.01,"minLength":1},"currency":{"type":"string","example":"USD","maxLength":3,"minLength":3},"type":{"type":"string","example":"Miscellaneous ACH","minLength":1,"maxLength":35},"description":{"type":"string","example":"Misc Pay Treasury Trace. Nb 1651651687251351. Long description of data from the bank that the consumer of the API can take and parse or sync with ERP-system","minLength":1,"maxLength":140},"requestedExecutionDate":{"type":"string","description":"Date and time at which the cash is at the disposal of the credit account owner.","example":"2020-04-29","minLength":10,"maxLength":10},"endToEndIdentification":{"type":"string","example":"ABC-200","minLength":1,"maxLength":35}}},"error-400":{"title":"Error 400 - Bad Request","description":"The request could not be understood or required parameters were missing","type":"object","properties":{"detail":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-400"}}}},"errorDetails-400":{"title":"Error 400 - Bad Request - Details","type":"object","properties":{"errorCode":{"description":"A programmatic error code:\n  * `2000` - Invalid JSON structure.\n  * `2001` - '[Field name] is missing or invalid.'\n  * `2002` - Invalid date.\n  * `2003` - Invalid combination of fields submitted. Check the API specification for eligible combinations. \n  * `2004` - '[Field name] cannot be more than [max number] characters.'\n","example":2000,"type":"number","enum":[2000,2001,2002,2003,2004]},"message":{"description":"A human readable description of the problem","example":"Invalid JSON structure.","type":"string"}}},"error-401":{"title":"Error 401 - Unauthorized","description":"Authentication failed or user doesn’t have permissions for requested operation","type":"object","properties":{"detail":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-401"}}}},"errorDetails-401":{"title":"Error 401 - Unauthorized - Details","type":"object","properties":{"errorCode":{"example":1000,"type":"number","enum":[1000,1001],"description":"A programmatic error code:\n  * `1000` - API key is missing, invalid or expired. \n  * `1001` - API token is invalid, expired, or account associated with key does not have access to that API.\n"},"message":{"description":"A human readable description of the problem","example":"API key is missing, invalid or expired.","type":"string"}},"required":["errorcode","message"]},"error-404":{"title":"Error 404 - Not Found","description":"Resource was not found.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":404,"type":"number","enum":[404],"description":"A programmatic error code:\n  * `404` - Resource was not found.\n"},"message":{"description":"A human readable description of the problem","example":"Resource was not found.","type":"string"}}},"error-503":{"title":"Error 503 - Service Unavailable","description":"Service is temporarily unavailable","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":503,"type":"number","enum":[503],"description":"A programmatic error code:\n  * `503` - Service Unavailable\n"},"message":{"description":"A human readable description of the problem","example":"Service is temporarily unavailable.","type":"string"}}},"error-500":{"title":"Error 500 - Internal server error","type":"object","properties":{"detail":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-500"}}}},"errorDetails-500":{"title":"Error 500 - Internal server error - Details","type":"object","properties":{"errorcode":{"description":"A programmatic error code","example":3001,"type":"number"},"message":{"description":"A human readable description of the problem","example":"Internal Server error","type":"string"}},"required":["errorcode","message"]}}}