{"swagger":"2.0","info":{"version":"1.0.6","title":"Initiate Instant Payment API (IIP)","description":"The Instant Payment Initiation API will enable a business to make an instant payment through their financial institution automatically via an API.","contact":{"email":"info@afinis.org","url":"https://www.afinis.org"}},"host":"api.asig.org","basePath":"/payments/v1","securityDefinitions":{"APIKeyQueryParam":{"type":"apiKey","in":"query","name":"apikey"}},"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/instant":{"post":{"operationId":"Initiate Instant Payment","tags":["Instant Payment"],"summary":"Initiate Instant Payment","description":"Initiate Instant Payment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"InitiatePayment","required":true,"description":"Details to process instant credit transactions","schema":{"type":"object","required":["creditor","creditorAccount","paymentIdentification","instructedAmount"],"properties":{"debtor":{"$ref":"#/definitions/party"},"debtorAccount":{"$ref":"#/definitions/account"},"ultimateDebtor":{"$ref":"#/definitions/party"},"initiatingParty":{"$ref":"#/definitions/party"},"debtorAgent":{"$ref":"#/definitions/agent"},"creditor":{"$ref":"#/definitions/party"},"creditorAccount":{"$ref":"#/definitions/account"},"ultimateCreditor":{"$ref":"#/definitions/party"},"creditorAgent":{"$ref":"#/definitions/agent"},"paymentIdentification":{"$ref":"#/definitions/paymentIdentification"},"paymentTypeInformation":{"$ref":"#/definitions/paymentTypeInformation"},"requestedExecutionDate":{"format":"date","example":"2018-12-12","minLength":10,"maxLength":10},"instructedAmount":{"$ref":"#/definitions/amount"},"paymentPurpose":{"type":"string","minLength":4,"maxLength":4,"enum":["BKDF","BKFE","BKFM","BKIP","BKPP","CBLK","CDCB","CDCD","CDCS","CDDP","CDOC","CDQC","ETUP","FCOL","MTUP","ACCT","CASH","COLL","CSDB","DEPT","INTC","INTP","LIMA","NETT","BFWD","CCIR","CCPC","CCPM","CCSM","CRDS","CRPR","CRSP","CRTL","EQPT","EQUS","EXPT","EXTD","FIXI","FWBC","FWCC","FWSB","FWSC","MARG","MBSB","MBSC","MGCC","MGSC","OCCC","OPBC","OPCC","OPSB","OPSC","OPTN","OTCD","REPO","RPBC","RPCC","RPSB","RPSC","RVPO","SBSC","SCIE","SCIR","SCRP","SHBC","SHCC","SHSL","SLEB","SLOA","SWBC","SWCC","SWPT","SWSB","SWSC","TBAS","TBBC","TBCC","TRCP","AGRT","AREN","BEXP","BOCE","COMC","CPYR","GDDS","GDSV","GSCB","LICF","MP2B","POPE","ROYA","SCVE","SERV","SUBS","SUPP","TRAD","CHAR","COMT","MP2P","ECPG","ECPR","ECPU","EPAY","CLPR","COMP","DBTC","GOVI","HLRP","HLST","INPC","INPR","INSC","INSU","INTE","LBRI","LIFI","LOAN","LOAR","PENO","PPTI","RELG","RINP","TRFD","FORW","FXNT","ADMG","ADVA","BCDM","BCFG","BLDM","BNET","CBFF","CBFR","CCRD","CDBL","CFEE","CGDD","CORT","COST","CPKC","DCRD","DSMT","DVPM","EDUC","FACT","FAND","FCPM","FEES","GIFT","GOVT","ICCP","IDCP","IHRP","INSM","IVPT","MCDM","MCFG","MSVC","NOWS","OCDM","OCFG","OFEE","OTHR","PADD","PTSP","RCKE","RCPT","REBT","REFU","RENT","REOD","RIMB","RPNT","RRBN","RRCT","RRTP","RVPM","SLPI","SPLT","STDY","TBAN","TBIL","TCSC","TELI","TMPG","TPRI","TPRP","TRNC","TRVC","WEBI","IPAY","IPCA","IPDO","IPEA","IPEC","IPEW","IPPS","IPRT","IPU2","IPUW","ANNI","CAFI","CFDI","CMDT","DERI","DIVD","FREX","HEDG","INVS","PRME","SAVG","SECU","SEPI","TREA","UNIT","FNET","FUTR","ANTS","CVCF","DMEQ","DNTS","HLTC","HLTI","HSPC","ICRF","LTCF","MAFC","MARF","MDCS","VIEW","CDEP","SWFP","SWPP","SWRS","SWUF","ADCS","AEMP","ALLW","ALMY","BBSC","BECH","BENE","BONU","CCHD","COMM","CSLP","GFRP","GVEA","GVEB","GVEC","GVED","GWLT","HREC","PAYR","PEFC","PENS","PRCP","RHBS","SALA","SPSP","SSBE","LBIN","LCOL","LFEE","LMEQ","LMFI","LMRK","LREB","LREV","LSFL","ESTX","FWLV","GSTX","HSTX","INTX","NITX","PTXP","RDTX","TAXS","VATX","WHLD","TAXR","B112","BR12","TLRF","TLRR","AIRB","BUSB","FERB","RLWY","TRPT","CBTV","ELEC","ENRG","GASB","NWCH","NWCM","OTLC","PHON","UBIL","WTER","BOND","CABD","CAEQ","CBCR","DBCR","DICL","EQTS","FLCR","EFTC","EFTD","MOMA","RAPI","GAMB","LOTT","AMEX","SASW","AUCO","PCOM","PDEP","PLDS","PLRF","GAFA","GAHO","CPEN"],"description":"A programmatic code:\n  * BKDF - BankLoanDelayedDrawFunding - Delayed draw funding. Certain issuers may utilize delayed draw loans whereby the lender is committed to fund cash within a specified period once a call is made by the issuer. The lender receives a fee for entering into such a commitment\n  * BKFE - BankLoanFees - Bank loan fees. Cash activity related to specific bank loan fees, including (a) agent / assignment fees; (b) amendment fees; (c) commitment fees; (d) consent fees; (e) cost of carry fees; (f) delayed compensation fees; (g) facility fees; (h) fronting fees; (i) funding fees; (j) letter of credit assignment fees\n  * BKFM - BankLoanFundingMemo - Bank loan funding memo. Net cash movement for the loan contract final notification when sent separately from the loan contract final notification instruction.\n  * BKIP - BankLoanAccruedInterestPayment - Accrued interest payments. Specific to bank loans.\n  * BKPP - BankLoanPrincipalPaydown - Principal paydowns. Specific to bank loans\n  * CBLK - CardBulkClearing - A Service that is settling money for a bulk of card transactions, while referring to a specific transaction file or other information like terminal ID, card acceptor ID or other transaction details.\n  * CDCB - CardPaymentWithCashBack - Purchase of Goods and Services with additional Cash disbursement at the POI (Cashback)\n  * CDCD - CashDisbursementCashSettlement - ATM Cash Withdrawal in an unattended or Cash Advance in an attended environment (POI or bank counter)\n  * CDCS - CashDisbursementWithSurcharging - ATM Cash Withdrawal in an unattended or Cash Advance in an attended environment (POI or bank counter) with surcharging.\n  * CDDP - CardDeferredPayment - A combined service which enables the card acceptor to perform an authorisation for a temporary amount and a completion for the final amount within a limited time frame. Deferred Payment is only available in the unattended environment. Examples where this service is widely used are unattended petrol pumps and phone booths\n  * CDOC - OriginalCredit - A service which allows the card acceptor to effect a credit to a cardholder' account. Unlike a Merchant Refund, an Original Credit is not preceded by a card payment. This service is used for example for crediting winnings from gaming.\n  * CDQC - QuasiCash - Purchase of Goods which are equivalent to cash like coupons in casinos.\n  * ETUP - EPurseTopUp - Transaction is related to a Service that is first reserving money from a card account and then is loading an e-purse application by this amount.\n  * FCOL - FeeCollection - A Service that is settling card transaction related fees between two parties.\n  * MTUP - MobileTopUp - A Service that is first reserving money from a card account and then is loading a prepaid mobile phone amount by this amount.\n  * ACCT - AccountManagement - Transaction moves funds between 2 accounts of same account holder at the same bank.\n  * CASH - CashManagementTransfer - Transaction is a general cash management instruction.\n  * COLL - CollectionPayment - Transaction is a collection of funds initiated via a credit transfer or direct debit.\n  * CSDB - CashDisbursementCashManagement - Transaction is related to cash disbursement.\n  * DEPT - Deposit - Transaction is releted to a payment of deposit.\n  * INTC - IntraCompanyPayment - Transaction is an intra-company payment, ie, a payment between two companies belonging to the same group.\n  * INTP - IntraPartyPayment - Transaction is a payment between two accounts belonging to the same party (intra-party payment), where party is a natural person (identified by a private ID, not organisation ID).\n  * LIMA - LiquidityManagement - Bank initiated account transfer to support zero target balance management, pooling or sweeping.\n  * NETT - Netting - Transaction is related to a netting operation.\n  * BFWD - BondForward - Cash collateral related to any securities traded out beyond 3 days which include treasury notes, JGBs and Gilts.\n  * CCIR - CrossCurrencyIRS - Cash Collateral related to a Cross Currency Interest Rate Swap, indicating the exchange of fixed interest payments in one currency for those in another.\n  * CCPC - CCPClearedInitialMargin - Cash Collateral associated with an ISDA or Central Clearing Agreement that is covering the initial margin requirements for OTC trades clearing through a CCP. \n  * CCPM - CCPClearedVariationMargin - Cash Collateral associated with an ISDA or Central Clearing Agreement that is covering the variation margin requirements for OTC trades clearing through a CCP. \n  * CCSM - CCPClearedInitialMarginSegregatedCash - CCP Segregated initial margin: Initial margin on OTC Derivatives cleared through a CCP that requires segregation\n  * CRDS - CreditDefaultSwap - Cash collateral related to trading of credit default swap.\n  * CRPR - CrossProduct - Cash collateral related to a combination of various types of trades.\n  * CRSP - CreditSupport - Cash collateral related to cash lending/borrowing; letter of Credit; signing of master agreement.\n  * CRTL - CreditLine - Cash collateral related to opening of a credit line before trading.\n  * EQPT - EquityOption - Cash collateral related to trading of equity option (Also known as stock options).\n  * EQUS - EquitySwap - Cash collateral related to equity swap trades where the return of an equity is exchanged for either a fixed or a floating rate of interest.\n  * EXPT - ExoticOption - Cash collateral related to trading of an exotic option for example a non-standard option.\n  * EXTD - ExchangeTradedDerivatives - Cash collateral related to trading of exchanged traded derivatives in general (Opposite to Over the Counter (OTC)).\n  * FIXI - FixedIncome - Cash collateral related to a fixed income instrument\n  * FWBC - ForwardBrokerOwnedCashCollateral - Cash collateral payment against a Master Forward Agreement (MFA) where the cash is held in a segregated account and is not available for use by the client. Includes any instruments with a forward settling date such TBAs, repurchase agreements and bond forwards\n  * FWCC - ForwardClientOwnedCashCollateral - Cash collateral payment against a Master Forward Agreement (MFA) where the cash is owned and may be used by the client when returned. Includes any instruments with a forward settling date such TBAs, repurchase agreements and bond forwards\n  * FWSB - ForwardBrokerOwnedCashCollateralSegregated - Any cash payment related to the collateral for a Master Agreement forward, which is segregated, and not available for use by the client. Example master agreement forwards include TBA, repo and Bond Forwards.\n  * FWSC - ForwardClientOwnedSegregatedCashCollateral - Any cash payment related to the collateral for a Master agreement forward, which is owned by the client and is available for use by the client when it is returned to them from the segregated account. Example master agreement forwards include TBA, repo and Bond Forwards.\n  * MARG - DailyMarginOnListedDerivatives - Daily margin on listed derivatives – not segregated as collateral associated with an FCM agreement. Examples include listed futures and options margin payments; premiums for listed options not covered in the MT54X message\n  * MBSB - MBSBrokerOwnedCashCollateral - MBS Broker Owned Segregated (40Act/Dodd Frank) Cash Collateral - Any cash payment related to the collateral for a Mortgage Back Security, which is segregated, and not available for use by the client.\n  * MBSC - MBSClientOwnedCashCollateral - MBS Client Owned Cash Segregated (40Act/Dodd Frank) Cash Collateral - Any cash payment related to the collateral for a Mortgage Back Security, which is owned by the client and is available for use by the client when it is returned to them from the segregated account\n  * MGCC - FuturesInitialMargin - Initial futures margin. Where such payment is owned by the client and is available for use by them on return\n  * MGSC - FuturesInitialMarginClientOwnedSegregatedCashCollateral - Margin Client Owned Segregated Cash Collateral - Any cash payment related to the collateral for initial futures margin, which is owned by the client and is available for use by the client when it is returned to them from the segregated account.\n  * OCCC - ClientOwnedOCCPledgedCollateral - Client owned collateral identified as eligible for OCC pledging\n  * OPBC - OTCOptionBrokerOwnedCashCollateral - Cash collateral payment for OTC options associated with an FCM agreement. Where such payment is segregated and not available for use by the client\n  * OPCC - OTCOptionClientOwnedCashCollateral - Cash collateral payment for OTC options associated with an FCM agreement. Where such payment is not segregated and is available for use by the client upon return\n  * OPSB - OTCOptionBrokerOwnedSegregatedCashCollateral - Option Broker Owned Segregated Cash Collateral - Any cash payment related to the collateral for an OTC option, which is segregated, and not available for use by the client.\n  * OPSC - OTCOptionClientOwnedCashSegregatedCashCollateral - Option Client Owned Cash Segregated Cash Collateral - Any cash payment related to the collateral for an OTC option, which is owned by the client and is available for use by the client when it is returned to them from the segregated account\n  * OPTN - FXOption - Cash collateral related to trading of option on Foreign Exchange.\n  * OTCD - OTCDerivatives - Cash collateral related to Over-the-counter (OTC) Derivatives in general for example contracts which are traded and privately negotiated.\n  * REPO - RepurchaseAgreement - Cash collateral related to a repurchase agreement transaction.\n  * RPBC - BilateralRepoBrokerOwnedCollateral - Bi-lateral repo broker owned collateral associated with a repo master agreement – GMRA or MRA Master Repo Agreements\n  * RPCC - RepoClientOwnedCollateral - Repo client owned collateral associated with a repo master agreement – GMRA or MRA Master Repo Agreements\n  * RPSB - BilateralRepoBrokerOwnedSegregatedCashCollateral - Bi-lateral repo broker owned segregated cash collateral associated with a repo master agreement\n  * RPSC - BilateralRepoClientOwnedSegregatedCashCollateral - Repo client owned segregated collateral associated with a repo master agreement\n  * RVPO - ReverseRepurchaseAgreement - Cash collateral related to a reverse repurchase agreement transaction.\n  * SBSC - SecuritiesBuySellSellBuyBack - Cash collateral related to a Securities Buy Sell Sell Buy Back\n  * SCIE - SingleCurrencyIRSExotic - Cash collateral related to Exotic single currency interest rate swap.\n  * SCIR - SingleCurrencyIRS - Cash collateral related to Single Currency Interest Rate Swap.\n  * SCRP - SecuritiesCrossProducts - Cash collateral related to Combination of securities-related exposure types.\n  * SHBC - BrokerOwnedCollateralShortSale - Short Sale broker owned collateral associated with a prime broker agreement\n  * SHCC - ClientOwnedCollateralShortSale - Short Sale client owned collateral associated with a prime brokerage agreement\n  * SHSL - ShortSell - Cash Collateral related to a Short Sell\n  * SLEB - SecuritiesLendingAndBorrowing - Cash collateral related to Securities lending and borrowing.\n  * SLOA - SecuredLoan - Cash collateral related to a Secured loan.\n  * SWBC - SwapBrokerOwnedCashCollateral - Cash collateral payment for swaps associated with an ISDA agreement. . Where such payment is segregated and not available for use by the client. Includes any cash collateral payments made under the terms of a CSA agreement for instruments such as swaps and FX forwards.\n  * SWCC - SwapClientOwnedCashCollateral - Cash collateral payment for swaps associated with an ISDA agreement. Where such payment is not segregated and is available for use by the client upon return. Includes any cash collateral payments made under the terms of a CSA agreement for instruments such as swaps and FX forwards.\n  * SWPT - Swaption - Cash collateral related to an option on interest rate swap. \n  * SWSB - SwapsBrokerOwnedSegregatedCashCollateral - Swaps Broker Owned Segregated Cash Collateral - Any cash payment related to the collateral for Swap margin , which is segregated, and not available for use by the client. This includes any collateral identified in a CSA agreement such as Swap or FX Forward collateral.\n  * SWSC - SwapsClientOwnedSegregatedCashCollateral - Swaps Client Owned Segregated Cash Collateral - Any cash payment related to the collateral for Swap margin, which is owned by the client and is available for use by the client when returned from the segregated account. This includes any collateral identified in a CSA agreement such as Swap or FX Forward collateral.\n  * TBAS - ToBeAnnounced - Cash collateral related to a To Be Announced (TBA)\n  * TBBC - TBABrokerOwnedCashCollateral - Cash collateral payment (segregated) for TBA securities associated with a TBA Master Agreement. Where such payment is segregated and not available for use by the client.\n  * TBCC - TBAClientOwnedCashCollateral - Cash collateral payment (for use by client)for TBA securities associated with a TBA Master Agreement. Where such payment is not segregated and is available for use by the client upon return.\n  * TRCP - TreasuryCrossProduct - Cash collateral related to a combination of treasury-related exposure types.\n  * AGRT - AgriculturalTransfer - Transaction is related to the agricultural domain.\n  * AREN - AccountsReceivablesEntry - Transaction is related to a payment associated with an Account Receivable Entry\n  * BEXP - BusinessExpenses - Transaction is related to a payment of business expenses.\n  * BOCE - BackOfficeConversionEntry - Transaction is related to a payment associated with a Back Office Conversion Entry\n  * COMC - CommercialPayment - Transaction is related to a payment of commercial credit or debit. (formerly CommercialCredit)\n  * CPYR - Copyright - Transaction is payment of copyright.\n  * GDDS - PurchaseSaleOfGoods - Transaction is related to purchase and sale of goods.\n  * GDSV - PurchaseSaleOfGoodsAndServices - Transaction is related to purchase and sale of goods and services.\n  * GSCB - PurchaseSaleOfGoodsAndServicesWithCashBack - Transaction is related to purchase and sale of goods and services with cash back.\n  * LICF - LicenseFee - Transaction is payment of a license fee.\n  * MP2B - MobileP2BPayment - A service which enables a user to use an app on its mobile to pay a merchant or other business payees by initiating a payment message. Within this context, the account information or an alias of the payee might be transported through different channels to the app, for example QR Code, NFC, Bluetooth, other Networks.\n  * POPE - PointOfPurchaseEntry - Transaction is related to a payment associated with a Point of Purchase Entry.\n  * ROYA - Royalties - Transaction is the payment of royalties.\n  * SCVE - PurchaseSaleOfServices - Transaction is related to purchase and sale of services.\n  * SERV - ServiceCharges - Transaction is related to service charges charged by a service provider.\n  * SUBS - Subscription - Transaction is related to a payment of information or entertainment services either in printed or electronic form.\n  * SUPP - SupplierPayment - Transaction is related to a payment to a supplier.\n  * TRAD - Commercial - Transaction is related to a trade services operation.\n  * CHAR - CharityPayment - Transaction is a payment for charity reasons.\n  * COMT - ConsumerThirdPartyConsolidatedPayment - Transaction is a payment used by a third party who can collect funds to pay on behalf of consumers, ie credit counseling or bill payment companies.\n  * MP2P - MobileP2PPayment - A service which enables a user to use an app on its mobile to initiate moving funds from his/her bank account to another person’s bank account while not using the account number  but an alias information like an MSISDN as account addressing information in his/her app.\n  * ECPG - GuaranteedEPayment - E-Commerce payment with payment guarantee of the issuing bank.\n  * ECPR - EPaymentReturn - E-Commerce payment return.\n  * ECPU - NonGuaranteedEPayment - E-Commerce payment without payment guarantee of the issuing bank.\n  * EPAY - Epayment - Transaction is related to ePayment.\n  * CLPR - CarLoanPrincipalRepayment - Transaction is a payment of car loan principal payment.\n  * COMP - CompensationPayment - Transaction is related to the payment of a compensation relating to interest loss/value date adjustment and can include fees.\n  * DBTC - DebitCollectionPayment - Collection of funds initiated via a debit transfer.\n  * GOVI - GovernmentInsurance - Transaction is related to a payment of government insurance.\n  * HLRP - PropertyLoanRepayment - Transaction is related to a payment of property loan.\n  * HLST - PropertyLoanSettlement - Transaction is related to the settlement of a property loan.\n  * INPC - InsurancePremiumCar - Transaction is a payment of car insurance premium.\n  * INPR - InsurancePremiumRefund - Transaction is related to an insurance premium refund.\n  * INSC - PaymentOfInsuranceClaim - Transaction is related to the payment of an insurance claim.\n  * INSU - InsurancePremium - Transaction is payment of an insurance premium.\n  * INTE - Interest - Transaction is payment of interest.\n  * LBRI - LaborInsurance - Transaction is a payment of labor insurance.\n  * LIFI - LifeInsurance - Transaction is a payment of life insurance.\n  * LOAN - Loan - Transaction is related to transfer of loan to borrower.\n  * LOAR - LoanRepayment - Transaction is related to repayment of loan to lender.\n  * PENO - PaymentBasedOnEnforcementOrder - Payment based on enforcement orders except those arising from judicial alimony decrees.\n  * PPTI - PropertyInsurance - Transaction is a payment of property insurance.\n  * RELG - RentalLeaseGeneral - Transaction is for general rental/lease.\n  * RINP - RecurringInstallmentPayment - Transaction is related to a payment of a recurring installment made at regular intervals.\n  * TRFD - TrustFund - Transaction is related to a payment of a trust fund.\n  * FORW - ForwardForeignExchange - FX trades with a value date in the future.\n  * FXNT - ForeignExchangeRelatedNetting - FX netting if cash is moved by separate wire instead of within the closing FX instruction\n  * ADMG - AdministrativeManagement - Transaction is related to a payment associated with administrative management.\n  * ADVA - AdvancePayment - Transaction is an advance payment.\n  * BCDM - BearerChequeDomestic - Transaction is the payment of a domestic bearer cheque.\n  * BCFG - BearerChequeForeign - Transaction is the payment of a foreign bearer cheque.\n  * BLDM - BuildingMaintenance - Transaction is related to a payment associated with building maintenance.\n  * BNET - BondForwardNetting - Bond Forward pair-off cash net movement\n  * CBFF - CapitalBuilding - Transaction is related to capital building fringe fortune, ie capital building in general\n  * CBFR - CapitalBuildingRetirement - Transaction is related to capital building fringe fortune for retirement\n  * CCRD - CreditCardPayment - Transaction is related to a payment of credit card account.\n  * CDBL - CreditCardBill - Transaction is related to a payment of credit card bill.\n  * CFEE - CancellationFee - Transaction is related to a payment of cancellation fee.\n  * CGDD - CardGeneratedDirectDebit - Transaction is related to a direct debit where the mandate was generated by using data from a payment card at the point of sale.\n  * CORT - TradeSettlementPayment - Transaction is related to settlement of a trade, e.g. a foreign exchange deal or a securities transaction.\n  * COST - Costs - Transaction is related to payment of costs.\n  * CPKC - CarparkCharges - Transaction is related to carpark charges.\n  * DCRD - DebitCardPayment - Transaction is related to a debit card payment.\n  * DSMT - PrintedOrderDisbursement - Transaction is the payment of a disbursement due to a specific type of printed order for a payment of a  specified sum, issued by a bank or a post office (Zahlungsanweisung zur Verrechnung)\n  * DVPM - DeliverAgainstPayment - Code used to pre-advise the account servicer of a forthcoming deliver against payment instruction.\n  * EDUC - Education - Transaction is related to a payment of study/tuition fees.\n  * FACT - FactorUpdateRelatedPayment - Payment related to a factor update\n  * FAND - FinancialAidInCaseOfNaturalDisaster - Financial aid by State authorities for abolition of consequences of natural disasters.\n  * FCPM - LatePaymentOfFeesAndCharges - Transaction is the payment for late fees & charges. E.g Credit card charges\n  * FEES - PaymentOfFees - Payment of fees/charges.\n  * GIFT - Gift - Payment with no commercial or statutory purpose.\n  * GOVT - GovernmentPayment - Transaction is a payment to or from a government department.\n  * ICCP - IrrevocableCreditCardPayment - Transaction is reimbursement of credit card payment.\n  * IDCP - IrrevocableDebitCardPayment - Transaction is reimbursement of debit card payment.\n  * IHRP - InstalmentHirePurchaseAgreement - Transaction is payment for an installment/hire-purchase agreement.\n  * INSM - Installment - Transaction is related to a payment of an installment.\n  * IVPT - InvoicePayment - Transaction is the payment for invoices.\n  * MCDM - MultiCurrenyChequeDomestic - Transaction is the payment of a domestic multi-currency cheque\n  * MCFG - MultiCurrenyChequeForeign - Transaction is the payment of a foreign multi-currency cheque\n  * MSVC - MultipleServiceTypes - Transaction is related to a payment for multiple service types.\n  * NOWS - NotOtherwiseSpecified - Transaction is related to a payment for type of services not specified elsewhere.\n  * OCDM - OrderChequeDomestic - Transaction is the payment of a domestic order cheque\n  * OCFG - OrderChequeForeign - Transaction is the payment of a foreign order cheque\n  * OFEE - OpeningFee - Transaction is related to a payment of opening fee.\n  * OTHR - Other - Other payment purpose.\n  * PADD - PreauthorizedDebit - Transaction is related to a pre-authorized debit origination\n  * PTSP - PaymentTerms - Transaction is related to payment terms specifications\n  * RCKE - RepresentedCheckEntry - Transaction is related to a payment associated with a re-presented check entry\n  * RCPT - ReceiptPayment - Transaction is related to a payment of receipt.\n  * REBT - Rebate - Transaction is the payment of a rebate.\n  * REFU - Refund - Transaction is the payment of a refund.\n  * RENT - Rent - Transaction is the payment of rent.\n  * REOD - AccountOverdraftRepayment - Transaction is for account overdraft repayment\n  * RIMB - ReimbursementOfAPreviousErroneousTransaction - Transaction is related to a reimbursement of a previous erroneous transaction.\n  * RPNT - BilateralRepoInternetNetting - Bi-lateral repo interest net/bulk payment at rollover/pair-off or other closing scenarios where applicable\n  * RRBN - RoundRobin - Cash payment resulting from a Round Robin\n  * RRCT - ReimbursementReceivedCreditTransfer - Transaction is related to a reimbursement for commercial reasons of a correctly received credit transfer.\n  * RRTP - RelatedRequestToPay - Transaction is related to a Request to Pay.\n  * RVPM - ReceiveAgainstPayment - Code used to pre-advise the account servicer of a forthcoming receive against payment instruction.\n  * SLPI - PaymentSlipInstruction - Transaction is payment of a well formatted payment slip.\n  * SPLT - SplitPayments - Split payments. To be used when cash and security movements for a security trade settlement are instructed separately.\n  * STDY - Study - Transaction is related to a payment of study/tuition costs.\n  * TBAN - TBAPairOffNetting - TBA pair-off cash wire net movement\n  * TBIL - TelecommunicationsBill - Transaction is related to a payment of telecommunications related bill.\n  * TCSC - TownCouncilServiceCharges - Transaction is related to a payment associated with charges levied by a town council.\n  * TELI - TelephoneInitiatedTransaction - Transaction is related to a payment initiated via telephone.\n  * TMPG - TMPGClaimPayment - Cash payment resulting from a TMPG Claim\n  * TPRI - TriPartyRepoInterest - Tri-Party Repo related interest\n  * TPRP - TriPartyRepoNetting - Tri-party Repo related net gain/loss cash movement\n  * TRNC - TruncatedPaymentSlip - Transaction is payment of a beneficiary prefilled payment slip where beneficiary to payer information is truncated.\n  * TRVC - TravellerCheque - Transaction is the payment of a travellers cheque\n  * WEBI - InternetInitiatedTransaction - Transaction is related to a payment initiated via internet.\n  * IPAY - InstantPayments - Transaction in which the amount is available to the payee immediately.\n  * IPCA - InstantPaymentsCancellation - Transaction in which the Return of the amount is fully returned.\n  * IPDO - InstantPaymentsForDonations - Transaction in which the amount is available to the payee immediately, done for donations, with sending the address data of the payer.\n  * IPEA - InstantPaymentsInECommerceWithoutAddressData - Transaction in which the amount is available to the payee immediately, done in E-commerce, without sending the address data of the payer.\n  * IPEC - InstantPaymentsInECommerceWithAddressData - Transaction in which the amount is available to the payee immediately, done in E-commerce, with sending the address data of the payer.\n  * IPEW - InstantPaymentsInECommerce - Transaction in which the amount is available to the payee immediately, done in E-commerce.\n  * IPPS - InstantPaymentsAtPOS - Transaction in which the amount is available to the payee immediately, done at POS.\n  * IPRT - InstantPaymentsReturn - Transaction in which the Return of the amount is fully or partial returned.\n  * IPU2 - InstantPaymentsUnattendedVendingMachineWith2FA - Transaction is made via an unattending vending machine by using 2-factor-authentification.\n  * IPUW - InstantPaymentsUnattendedVendingMachineWithout2FA - Transaction is made via an unattending vending machine by without using 2-factor-authentification.\n  * ANNI - Annuity - Transaction settles annuity related to credit, insurance, investments, other.n\n  * CAFI - CustodianManagementFeeInhouse - Transaction is the payment of custodian account management fee where custodian bank and current account servicing bank coincide\n  * CFDI - CapitalFallingDueInhouse - Transaction is the payment of capital falling due where custodian bank and current account servicing bank coincide\n  * CMDT - CommodityTransfer - Transaction is payment of commodities.\n  * DERI - Derivatives - Transaction is related to a derivatives transaction\n  * DIVD - Dividend - Transaction is payment of dividends.\n  * FREX - ForeignExchange - Transaction is related to a foreign exchange operation.\n  * HEDG - Hedging - Transaction is related to a hedging operation.\n  * INVS - InvestmentAndSecurities - Transaction is for the payment of mutual funds, investment products and shares\n  * PRME - PreciousMetal - Transaction is related to a precious metal operation.\n  * SAVG - Savings - Transfer to savings/retirement account.\n  * SECU - Securities - Transaction is the payment of securities.\n  * SEPI - SecuritiesPurchaseInhouse - Transaction is the payment of a purchase of securities where custodian bank and current account servicing bank coincide\n  * TREA - TreasuryPayment - Transaction is related to treasury operations.\n  * UNIT - UnitTrustPurchase - Transaction is purchase of Unit Trust\n  * FNET - FuturesNettingPayment - Cash associated with a netting of futures payments. Refer to CCPM codeword for netting of initial and variation margin through a CCP\n  * FUTR - Futures - Cash related to futures trading activity.\n  * ANTS - AnesthesiaServices - Transaction is a payment for anesthesia services.\n  * CVCF - ConvalescentCareFacility - Transaction is a payment for convalescence care facility services.\n  * DMEQ - DurableMedicaleEquipment - Transaction is a payment is for use of durable medical equipment.\n  * DNTS - DentalServices - Transaction is a payment for dental services.\n  * HLTC - HomeHealthCare - Transaction is a payment for home health care services.\n  * HLTI - HealthInsurance - Transaction is a payment of health insurance.\n  * HSPC - HospitalCare - Transaction is a payment for hospital care services.\n  * ICRF - IntermediateCareFacility - Transaction is a payment for intermediate care facility services.\n  * LTCF - LongTermCareFacility - Transaction is a payment for long-term care facility services.\n  * MAFC - MedicalAidFundContribution - Transaction is contribution to medical aid fund.\n  * MARF - MedicalAidRefund - Transaction is related to a medical aid refund.\n  * MDCS - MedicalServices - Transaction is a payment for medical care services.\n  * VIEW - VisionCare - Transaction is a payment for vision care services.\n  * CDEP - CreditDefaultEventPayment - Payment related to a credit default event\n  * SWFP - SwapContractFinalPayment - Final payments for a swap contract\n  * SWPP - SwapContractPartialPayment - Partial payment for a swap contract\n  * SWRS - SwapContractResetPayment - Reset payment for a swap contract\n  * SWUF - SwapContractUpfrontPayment - Upfront payment for a swap contract\n  * ADCS - AdvisoryDonationCopyrightServices - Payments for donation, sponsorship, advisory, intellectual and other copyright services.\n  * AEMP - ActiveEmploymentPolicy - Payment concerning active employment policy.\n  * ALLW - Allowance - Transaction is the payment of allowances.\n  * ALMY - AlimonyPayment - Transaction is the payment of alimony.\n  * BBSC - BabyBonusScheme - Transaction is related to a payment made as incentive to encourage parents to have more children\n  * BECH - ChildBenefit - Transaction is related to a payment made to assist parent/guardian to maintain child.\n  * BENE - UnemploymentDisabilityBenefit - Transaction is related to a payment to a person who is unemployed/disabled.\n  * BONU - BonusPayment. - Transaction is related to payment of a bonus.\n  * CCHD - CashCompensationHelplessnessDisability - Payments made by Government institute related to cash compensation, helplessness, disability. These payments are made by the Government institution as a social benefit in addition to regularly paid salary or pension.\n  * COMM - Commission - Transaction is payment of commission.\n  * CSLP - CompanySocialLoanPaymentToBank - Transaction is a payment by a company to a bank for financing social loans to employees.\n  * GFRP - GuaranteeFundRightsPayment - Compensation to unemployed persons during insolvency procedures.\n  * GVEA - AustrianGovernmentEmployeesCategoryA - Transaction is payment to category A Austrian government employees.\n  * GVEB - AustrianGovernmentEmployeesCategoryB - Transaction is payment to category B Austrian government employees.\n  * GVEC - AustrianGovernmentEmployeesCategoryC - Transaction is payment to category C Austrian government employees.\n  * GVED - AustrianGovernmentEmployeesCategoryD - Transaction is payment to category D Austrian government employees.\n  * GWLT - GovermentWarLegislationTransfer - Payment to victims of war violence and to disabled soldiers.\n  * HREC - HousingRelatedContribution - Transaction is a contribution by an employer to the housing expenditures (purchase, construction, renovation) of the employees within a tax free fringe benefit system \n  * PAYR - Payroll - Transaction is related to the payment of payroll.\n  * PEFC - PensionFundContribution - Transaction is contribution to pension fund.\n  * PENS - PensionPayment - Transaction is the payment of pension.\n  * PRCP - PricePayment - Transaction is related to a payment of a price.\n  * RHBS - RehabilitationSupport - Benefit for the duration of occupational rehabilitation.\n  * SALA - SalaryPayment - Transaction is the payment of salaries.\n  * SPSP - SalaryPensionSumPayment - Salary or pension payment for more months in one amount or a delayed payment of salaries or pensions.\n  * SSBE - SocialSecurityBenefit - Transaction is a social security benefit, ie payment made by a government to support individuals.\n  * LBIN - LendingBuyInNetting - Net payment related to a buy-in. When an investment manager is bought in on a sell trade that fails due to a failed securities lending recall, the IM may seize the underlying collateral to pay for the buy-in. Any difference between the value of the collateral and the sell proceeds would be paid or received under this code\n  * LCOL - LendingCashCollateralFreeMovement - Free movement of cash collateral. Cash collateral paid by the borrower is done separately from the delivery of the shares at loan opening or return of collateral done separately from return of the loaned security. Note: common when the currency of the security is different the currency of the cash collateral.\n  * LFEE - LendingFees - Fee payments, other than rebates, for securities lending. Includes (a) exclusive fees; (b) transaction fees;  custodian fees; (d) minimum balance fees\n  * LMEQ - LendingEquityMarkedToMarketCashCollateral - Cash collateral payments resulting from the marked-to-market of a portfolio of loaned equity securities\n  * LMFI - LendingFixedIncomeMarkedToMarketCashCollateral - Cash collateral payments resulting from the marked-to-market of a portfolio of loaned fixed income securities\n  * LMRK - LendingUnspecifiedTypeOfMarkedToMarketCashCollateral - Cash collateral payments resulting from the marked-to-market of a portfolio of loaned securities where the instrument types are not specified\n  * LREB - LendingRebatePayments - Securities lending rebate payments\n  * LREV - LendingRevenuePayments - Revenue payments made by the lending agent to the client\n  * LSFL - LendingClaimPayment - Payments made by a borrower to a lending agent to satisfy claims made by the investment manager related to sell fails from late loan recall deliveries\n  * ESTX - EstateTax - Transaction is related to a payment of estate tax.\n  * FWLV - ForeignWorkerLevy - Transaction is related to a payment of Foreign Worker Levy\n  * GSTX - GoodsServicesTax - Transaction is the payment of Goods & Services Tax\n  * HSTX - HousingTax - Transaction is related to a payment of housing tax.\n  * INTX - IncomeTax - Transaction is related to a payment of income tax.\n  * NITX - NetIncomeTax - Transaction is related to a payment of net income tax.\n  * PTXP - PropertyTax - Transaction is related to a payment of property tax.\n  * RDTX - RoadTax - Transaction is related to a payment of road tax.\n  * TAXS - TaxPayment - Transaction is the payment of taxes.\n  * VATX - ValueAddedTaxPayment - Transaction is the payment of value added tax.\n  * WHLD - WithHolding - Transaction is related to a payment of withholding tax.\n  * TAXR - TaxRefund - Transaction is the refund of a tax payment or obligation.\n  * B112 - TrailerFeePayment - US mutual fund trailer fee (12b-1) payment\n  * BR12 - TrailerFeeRebate - US mutual fund trailer fee (12b-1) rebate payment\n  * TLRF - NonUSMutualFundTrailerFeePayment - Any non-US mutual fund trailer fee (retrocession) payment (use ISIN to determine onshore versus offshore designation)\n  * TLRR - NonUSMutualFundTrailerFeeRebatePayment - Any non-US mutual fund trailer fee (retrocession) rebate payment (use ISIN to determine onshore versus offshore designation)\n  * AIRB - Air - Transaction is a payment for air transport related business.\n  * BUSB - Bus - Transaction is a payment for bus transport related business.\n  * FERB - Ferry - Transaction is a payment for ferry related business.\n  * RLWY - Railway - Transaction is a payment for railway transport related business.\n  * TRPT - RoadPricing - Transaction is for the payment to top-up pre-paid card and electronic road pricing for the purpose of transportation\n  * CBTV - CableTVBill - Transaction is related to a payment of cable TV bill.\n  * ELEC - ElectricityBill - Transaction is related to a payment of electricity bill.\n  * ENRG - Energies - Transaction is related to a utility operation.\n  * GASB - GasBill - Transaction is related to a payment of gas bill.\n  * NWCH - NetworkCharge - Transaction is related to a payment of network charges.\n  * NWCM - NetworkCommunication - Transaction is related to a payment of network communication.\n  * OTLC - OtherTelecomRelatedBill - Transaction is related to a payment of other telecom related bill.\n  * PHON - TelephoneBill - Transaction is related to a payment of telephone bill.\n  * UBIL - Utilities - Transaction is for the payment to common utility provider that provide gas, water and/or electricity.\n  * WTER - WaterBill - Transaction is related to a payment of water bill.\n  * BOND - Bonds - Securities Lending-Settlement of Bond transaction.\n  * CABD - CorporateActions-Bonds - Securities Lending-Settlement of Corporate Actions: Bonds transactions.\n  * CAEQ - CorporateActions-Equities - Securities Lending-Settlement of Corporate Actions: Equities transactions.\n  * CBCR - CreditCard - Card Settlement-Settlement of Credit Card transactions.\n  * DBCR - DebitCard - Card Settlement-Settlement of Debit Card transactions.\n  * DICL - Diners - Card Settlement-Settlement of Diners transactions.\n  * EQTS - Equities - Securities Lending-Settlement of Equities transactions.\n  * FLCR - FleetCard - Card Settlement-Settlement of Fleet transactions.\n  * EFTC - LowValueCredit - Utilities-Settlement of Low value Credit transactions.\n  * EFTD - LowValueDebit - Utilities-Settlement of Low value Debit transactions.\n  * MOMA - MoneyMarket - Securities Lending-ettlement of Money Market PCH.\n  * RAPI - RapidPaymentInstruction - Instant Payments-Settlement of Rapid Payment Instruction (RPI) transactions.\n  * GAMB - GamblingOrWageringPayment - General-Payments towards a purchase or winnings received from gambling, betting or other wagering activities.\n  * LOTT - LotteryPayment - General-Payment towards a purchase or winnings received from lottery activities.\n  * AMEX - Amex - Card Settlement-Settlement of AMEX transactions.\n  * SASW - ATM - Card Settlement-Settlement of ATM transactions.\n  * AUCO - AuthenticatedCollections - Utilities-Settlement of Authenticated Collections transactions.\n  * PCOM - PropertyCompletionPayment - Final payment to complete the purchase of a property.\n  * PDEP - PropertyDeposit - Payment of the deposit required towards purchase of a property.\n  * PLDS - PropertyLoanDisbursement - Payment of funds from a lender as part of the issuance of a property loan.\n  * PLRF - PropertyLoanRefinancing - Transfer or extension of a property financing arrangement to a new deal or loan provider, without change of ownership of property.\n  * GAFA - GovernmentFamilyAllowance - Salary and Benefits-Allowance from government to support family.\n  * GAHO - GovernmentHousingAllowance - Salary and Benefits-Allowance from government to individuals to support payments of housing.\n  * CPEN - CashPenalties - Cash penalties related to securities transaction, including CSDR Settlement Discipline Regime.\n"},"relatedRemittanceInformation":{"$ref":"#/definitions/remittanceLocation"},"remittanceInformation":{"$ref":"#/definitions/remittanceInformation"}}}}],"responses":{"200":{"description":"Payment transactions RCVD","schema":{"$ref":"#/definitions/response-200"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/error-400"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/error-401"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/error-403"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error-404"}},"405":{"description":"Method Not Allowed","schema":{"$ref":"#/definitions/error-405"}},"406":{"description":"Not Acceptable","schema":{"$ref":"#/definitions/error-406"}},"415":{"description":"Unsupported Media Type","schema":{"$ref":"#/definitions/error-415"}},"422":{"description":"Unprocessable request","schema":{"$ref":"#/definitions/error-422"}},"500":{"description":"Internal Server error","schema":{"$ref":"#/definitions/error-500"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/error-503"}}},"security":[{"APIKeyQueryParam":[]}]}}},"definitions":{"party":{"title":"Party","type":"object","description":"Identification of a person or an organisation","properties":{"name":{"type":"string","example":"Company ABC","minLength":1,"maxLength":140},"identification":{"type":"string","example":"1234567891","minLength":1,"maxLength":35},"identificationCode":{"type":"string","example":"CBID","minLength":4,"maxLength":4,"enum":["BANK","CBID","CHID","CINC","COID","CUST","DUNS","EMPL","GS1G","SREN","SRET","TXID","BDID","BOID","ARNU","CCPT","DRLC","NIDN","SOSE","TELE"],"description":"A programmatic code:\n  * `BANK - Unique and unambiguous assignment made by a specific bank or similar financial institution to identify a relationship as defined between the bank and its client. \n  * `CBID - A unique identification number assigned by a central bank to identify an organisation.\n  * `CHID - A unique identification number assigned by a clearing house to identify an organisation\n  * `CINC - A unique identification number assigned by a designated authority to a certificate of incorporation and used to identify an organisation.\n  * `COID - Country authority given organisation identification (e.g., corporate registration number)\n  * `DUNS - A unique identification number provided by Dun & Bradstreet to identify an organisation.\n  * `GS1G - Global Location Number. A non-significant reference number used to identify legal entities, functional entities, or physical entities according to GS1 numbering scheme rules.The number is used to retrieve detailed information that is linked to it.\n  * `SREN - The SIREN number is a 9 digit code assigned by INSEE, the French National Institute for Statistics and Economic Studies, to identify an organisation in France.\n  * `SRET - The SIRET number is a 14 digit code assigned by INSEE, the French National Institute for Statistics and Economic Studies, to identify an organisation unit in France. It consists of the SIREN number, followed by a five digit classification number, to identify the local geographical unit of that entity\n  * `ARNU - Number assigned by a social security agency to identify a non-resident person.\n  * `CCPT - Number assigned by an authority to identify the passport number of a person.\n  * `CUST - Number assigned by an issuer to identify a customer.\n  * `DRLC - Number assigned by an authority to identify a driver's license.\n  * `EMPL - Number assigned by a registration authority to an employee.\n  * `NIDN - Number assigned by an authority to identify the national identity number of a person.\n  * `SOSE - Number assigned by an authority to identify the social security number of a person.\n  * `TELE - Number assigned by a telephone or mobile phone operator to identify a person. A person may have multiple phone numbers.\n  * `TXID - Number assigned by a tax authority to identify a person.\n"},"identificationCodeIssuer":{"type":"string","example":"State of Missouri","minLength":1,"maxLength":35},"postalAddress":{"$ref":"#/definitions/postalAddress"}}},"account":{"title":"Account","description":"Details to identify an account","type":"object","properties":{"identification":{"description":"Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.","type":"string","example":"111010151","maxLength":34},"identificationCode":{"type":"string","example":"BBAN","minLength":4,"maxLength":4,"enum":["AIIN","BBAN","CUID","UPIC"],"description":"A programmatic code:\n  * AIIN - IssuerIdentificationNumber - Issuer Identification Number (IIN) - identifies a card issuing institution in an international interchange environment. Issued by ABA (American Bankers Association).\n  * BBAN - BBANIdentifier - Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.\n  * CUID - CHIPSUniversalIdentifier - (United States) Clearing House Interbank Payments System (CHIPS) Universal Identification (UID) - identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected. The CHIPS UID is assigned by the New York Clearing House.\n  * UPIC - UPICIdentifier - Universal Payment Identification Code (UPIC) - identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.\n"},"type":{"type":"string","example":"SVGS","minLength":4,"maxLength":4,"enum":["CACC","CARD","CASH","CHAR","CISH","COMM","CPAC","LLSV","LOAN","MGLD","MOMA","NREX","ODFT","ONDP","OTHR","SACC","SLRY","SVGS","TAXE","TRAN","TRAS","VACC","NFCA"],"description":"A programmatic code:\n  * CACC - Current - Account used to post debits and credits when no specific account has been nominated.\n  * CARD - CardAccount - Account used for credit card payments.\n  * CASH - CashPayment - Account used for the payment of cash.\n  * CHAR - Charges - Account used for charges if different from the account for         payment.\n  * CISH - CashIncome - Account used for payment of income if different from the current cash account\n  * COMM - Commission - Account used for commission if different from the account for payment.\n  * CPAC - ClearingParticipantSettlementAccount - Account used to post settlement debit and credit entries on behalf of a designated Clearing Participant.\n  * LLSV - LimitedLiquiditySavingsAccount - Account used for savings with special interest and withdrawal terms.  \n  * LOAN - Loan - Account used for loans.\n  * MGLD - MarginalLending - Account used for a marginal lending facility.\n  * MOMA - MoneyMarket - Account used for money markets if different from the cash account.\n  * NREX - NonResidentExternal - Account used for non-resident external.\n  * ODFT - Overdraft - Account is used for overdrafts.\n  * ONDP - OverNightDeposit - Account used for overnight deposits.\n  * OTHR - OtherAccount - Account not otherwise specified. \n  * SACC - Settlement - Account used to post debit and credit entries, as a result of transactions cleared and settled through a specific clearing and settlement system.\n  * SLRY - Salary - Accounts used for salary payments.\n  * SVGS - Savings - Account used for savings.\n  * TAXE - Tax - Account used for taxes if different from the account for payment.\n  * TRAN - TransactingAccount - A transacting account is the most basic type of bank account that you can get. The main difference between transaction and cheque accounts is that you usually do not get a cheque book with your transacting account and neither are you offered an overdraft facility.\n  * TRAS - CashTrading - Account used for trading if different from the current cash account.\n  * VACC - VirtualAccount - Account created virtually to facilitate collection and reconciliation.\n  * NFCA - NonResidentForeignCurrencyAccount - Non-Resident Individual / Entity Foreign Current held domestically.\n"},"name":{"type":"string","example":"Business Expenses","minLength":1,"maxLength":34},"proxyIdentification":{"type":"string","example":"john.doe@gmail.com","minLength":1,"maxLength":320},"proxyIdentificationCode":{"type":"string","example":"EMAL","minLength":4,"maxLength":4,"enum":["TELE","EMAL","DNAM","CINC","COTX","COID","CUST","DRLC","EIDN","EWAL","PVTX","LEIC","MBNO","NIDN","CCPT","SHID","SOSE","TOKN","UBIL","VIPN","BIID"],"description":"A programmatic code:\n  * TELE - TelephoneNumber - A telephone number in the format specified by the 'The international public telecommunication numbering plan ITU-T E.164. \n  * EMAL - EmailAddress - Internationalised address of an electronic mail box for internet messages.\n  * DNAM - DomainName - Internationalised internet domain name.\n  * CINC - CertificateOfIncorporationNumber - Corporate Identification issued by a national  institution or regulator, used as account proxy. (applied for corporate account proxy).\n  * COTX - CorporateTaxIdentification - Unique government-issued tax Identification used as account proxy to identify the corporate (for example for government tax) and typically linked to the corporate bank account (applied for corporate account proxy).\n  * COID - CountryAuthorityIdentification - Identification issued by a national  institution or regulator (different from a national scheme like a clearing provider), used as account proxy (applied for corporate or individual account proxy).\n  * CUST - CustomerIdentificationNumber - Any other customer identification number issued by a corporate, bank or other organization, used as account proxy. (applied for corporate or individual account proxy).\n  * DRLC - DriverLicenseNumber - Unique government-issued Identification used as account proxy to  identify the individual  (for example for government charges, road taxes and tolls,vaccination charges) and typically linked to the individual's bank account (applied for  individual account proxy).\n  * EIDN - ElectronicIdentification - Government-issued Identification (different from a passport Identification or a national Identification). Used as account proxy to  identify the individual (for example for public benefits) and typically linked to the individual's bank account (applied for  individual account proxy).\n  * EWAL - EWalletIdentification - Market-adopted prepaid instruments like e-Wallets, payments to / from e-wallets from / to bank accounts (applied for corporate or individual account proxy).\n  * PVTX - IndividualTaxIdentification - Unique government-issued  tax Identification  used as account proxy to  identify the individual  for example for government tax) and typically linked to the individual's bank account (applied for  individual account proxy).\n  * LEIC - LegalEntityIdentifierCode - Legal Entity Identifier used as account proxy (applied for corporate account proxy). Use cases: Can be used by corporates as a \"government-issued\" Identification for registration with payment schemes as a proxy. The proxy may be further used for payments and collections using the underlying instant payment rails for a variety of corporate use cases.\n  * MBNO - MobilePhoneNumber - Mobile phone number in the format specified by the “The international public telecommunication numbering plan ITU- T E 164\" (applied for corporate or individual account proxy).\n  * NIDN - NationalIdentificationNumber - Unique government-issued Identification  used as account proxy to  identify the individual  or corporate for example for public benefits, government subsidies) and typically linked to the individual's / corporate bank account. (applied for corporate or individual account proxy).\n  * CCPT - PassportNumber - Unique government-issued Identification  used as account proxy to  identify the individual  (for example for government charges, road taxes, vaccination charges) and typically linked to the individual's bank account (applied for  individual account proxy).\n  * SHID - SchemeIdentificationNumber - Account proxy issued by a payment scheme (applied for corporate or individual account proxy). Use cases: Any proxies issued by clearing systems, for example VPA (India), FPS Identifier (Hong Kong), Jompay (Malaysia) CCIN (Canada).\n  * SOSE - SocialSecurityNumber - Unique government-issued Identification  used as account proxy to identify the individual  (for example for public benefits) and typically linked to the individual's bank account (applied for individual account proxy).\n  * TOKN - TokenIdentification - Electronic Identification used, for example, to mask an account number as a means of data secrecy. (applied for corporate or individual account proxy).\n  * UBIL - UtilitiesSubscriptionIdentification - Subscriber Identification for utilities and services. As opposed to a biller Identification, this identification is used for the subscriber of the service (applied for corporate or individual account proxy).\n  * VIPN - VehicleIdentificationPlateNumber - Account proxy for receiving insurance claims, pay insurance premium, road tax payments, traffic tickets etc.(applied for corporate or individual account proxy).\n  * BIID - BillerSubscriberIdentification - Billers of specific utilities could register for a Biller Identification as supported in the clearing scheme, and use this identification for collections (applied for corporate account proxy).\n"}}},"agent":{"description":"Identification of a financial institution.","type":"object","required":["memberIdentification"],"properties":{"clearingSystemIdentification":{"type":"string","example":"USABA","enum":["ATBLZ","AUBSB","CACPA","CHBCC","CHSIC","CNAPS","DEBLZ","ESNCC","GBDSC","GRBIC","HKNCC","IENCC","INFSC","ITNCC","JPZGN","NZNCC","PLKNR","PTNCC","RUCBC","SESBA","SGIBG","THCBC","TWNCC","USABA","USPID","ZANCC","NZRSA","MZBMO","CNCIP"],"description":"A programmatic code:\n  * ATBLZ - AustrianBankleitzahl - Bank Branch code used in Austria\n  * AUBSB - AustralianBankStateBranchCodeBSB - Bank Branch code used in Australia\n  * CACPA - CanadianPaymentsAssociationPaymentRoutingNumber - Bank Branch code used in Canada\n  * CHBCC - SwissFinancialInstitutionIdentificationShort - Financial Institution Identification (IID) used in Switzerland, without check digit\n  * CHSIC - SwissFinancialInstitutionIdentificationLong - Financial Institution Identification (IID) used in Switzerland, including check digit\n  * CNAPS - CNAPSIdentifier - Bank Branch code used in China\n  * DEBLZ - GermanBankleitzahl - Bank Branch code used in Germany\n  * ESNCC - SpanishDomesticInterbankingCode - Bank Branch code used in Spain\n  * GBDSC - UKDomesticSortCode - Bank Branch code used in the UK\n  * GRBIC - HelenicBankIdentificationCode - Bank Branch code used in Greece\n  * HKNCC - HongKongBankCode - Bank Branch code used in Hong Kong\n  * IENCC - IrishNationalClearingCode - Bank Branch code used in Ireland\n  * INFSC - IndianFinancialSystemCode - Bank Branch code used in India\n  * ITNCC - ItalianDomesticIdentificationCode - Bank Branch code used in Italy\n  * JPZGN - JapanZenginClearingCode - Bank Branch code used in Japan\n  * NZNCC - NewZealandNationalClearingCode - Bank Branch code used in New Zealand\n  * PLKNR - PolishNationalClearingCode - Bank Branch code used in Poland\n  * PTNCC - PortugueseNationalClearingCode - Bank Branch code used in Portugal\n  * RUCBC - RussianCentralBankIdentificationCode - Bank Branch code used in Russia\n  * SESBA - SwedenBankgiroClearingCode - Bank Branch code used in Sweden\n  * SGIBG - IBGSortCode - Bank Branch code used in Singapore\n  * THCBC - ThaiCentralBankIdentificationCode - Bank Identification code used in Thailand\n  * TWNCC - FinancialInstitutionCode - Bank Branch code used in Taiwan\n  * USABA - UnitedStatesRoutingNumberFedwireNACHA - Routing Transit number assigned by the ABA for US financial institutons\n  * USPID - CHIPSParticipantIdentifier - Bank identifier used by CHIPs in the US\n  * ZANCC - SouthAfricanNationalClearingCode - Bank Branch code used in South Africa\n  * NZRSA - NewZealandRTGSClearingCode - RTGS settlement account used in New Zealand.\n  * MZBMO - BancoDeMocambiqueRTGS - Banco de Mocambique RTGS system.\n  * CNCIP - CrossBorderInterbankPaymentSystem - Cross-border Interbank Payment System (CIPS) Identifier.\n"},"memberIdentification":{"type":"string","minLength":1,"maxLength":35,"example":"061103852"},"name":{"type":"string","example":"Sample Bank","minLength":1,"maxLength":140},"postalAddress":{"$ref":"#/definitions/postalAddress"}}},"paymentIdentification":{"title":"PaymentIdentification","type":"object","required":["instructionIdentification"],"properties":{"instructionIdentification":{"description":"Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction.","type":"string","example":"ABC0928","minLength":1,"maxLength":35},"endToEndIdentification":{"description":"Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.","type":"string","example":"ABC13609-15-18","minLength":1,"maxLength":35},"uniqueEndToEndTransactionReference":{"type":"string","example":"8a562c67-ca16-48ba-b074-65581be6f011","minLength":26,"maxLength":26,"pattern":"[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"}}},"paymentTypeInformation":{"title":"PaymentTypeInformation","description":"Set of elements used to further specify the type of transaction.","type":"object","properties":{"localInstrument":{"type":"string","example":"FDNA","enum":["DDMC","DDMP","DDMU","BPA","IPA","TRF","82","83","CPP","RTR","GST","DDT","RDD","CHN","STR","SDD","SRT","SRD","SCN","SGT","CARD","05","04","ISE","BSE","58","19","ASTI","BACP","MANP","SBTI","85","08","89","60","RIBA","RIDO","RIDV","IDEAL","INSTNT01","INSTTC01","INSTIDEAL","INSTNT01IDEAL","INSTTC01IDEAL","NLDO","NLUP","SDN","ACCEPT","ICMC","NLGOV","0090","0091","0092","0002","0221","0224","0226","0225","0222","0227","0220","0223","0001","0000","IN","ONCL","PERI","SDCL","DDNR","DDFA","CORE","B2BAMIPM","B2B","CR1AMIPM","CORAMIPM","COR1","FADAMIPM","CLSCCPERX","CLSCCPLCH","INST","ADD","UDD","CCI","BTR","CKS","CTR","CTP","DEP","FFR","FFS","SVC","DRW","DRB","DRC","IAT","CCD","CTX","PPD","CIE","RCK","ARC","WEB","POP","POS","TEL","ITP","MDP"],"description":"A programmatic code:\n  * DDMC - DirectDebitConfirmedElectronicMandate - Transaction is related to a direct debit instruction authorized under a confirmed electronic mandate.\n  * DDMP - DirectDebitPaperMandateWithPaperAuthorization - Transaction is related to a direct debit instruction authorized under a paper based mandate, supported by paper authorization signed by the debtor.\n  * DDMU - DirectDebitUnconfirmedElectronicMandate - Transaction is related to a direct debit instruction authorized under an unconfirmed electronic mandate requiring confirmation by the debtor.\n  * BPA - BatchPaymentsAruba - Transaction is related to an Instant Credit Transfer under the rules of the Centrale Bank van Aruba, based on the EPC SCT Inst scheme, with a specific batch time-out delay.\n  * IPA - InstantPaymentsAruba - Transaction is related to an Instant Credit Transfer under the rules of the Centrale Bank van Aruba, based on the EPC SCT Inst scheme.\n  * TRF - CreditTransfers - Transaction is related to credit transfers\n  * 82 - NonPreauthorisedDirectDebitAT - Transaction is related to a direct debit that is not pre authorised (Einzugsermächtigung). \n  * 83 - PreauthorisedDirectDebitAT - Transaction is related to a direct debit that is pre authorised (Abbuchungsauftrag). \n  * CPP - CashPerPost - Transaction is related to cash per post. Transaction to ultimate recipient having no bank account. Primary beneficiary is a postal service provider. Funds are paid out by cash. Additional necessary information for address and delivery options need to be attached.\n  * RTR - ReturnedCreditTransfers - Transaction is related to returned credit transfers.\n  * GST - TruncatedCreditTransfers - Transaction is related to truncated credit transfers.\n  * DDT - DirectDebits - Transaction is related to direct debits.\n  * RDD - ReturnedDirectDebits - Transaction is related to returned direct debits.\n  * CHN - TruncatedChecks - Transaction is related to truncated checks. Conversion of physical instrument to electonric form for transmission to the paying bank and where the original paper document does not continue in the clearing process..The original instrument rules are retained throughout the life of the instrument.\n  * STR - RevokedCreditTransfers - Transaction is related to revoked credit transfers\n  * SDD - RevokedDirectDebits - Transaction is related to revoked direct debits.\n  * SRT - RevokedReturnedCreditTransfers - Transaction is related to revoked returned credit transfers\n  * SRD - RevokedReturnedDirectDebits - Transaction is related to revoked returned direct debits.\n  * SCN - RevokedTruncatedChecks - Transaction is related to revoked truncated checks.\n  * SGT - RevokedTruncatedCreditTransfers - Transaction is related to revoked truncated credit transfers.\n  * CARD - CardClearing - Transaction is related to card clearing.\n  * 05 - NonPreauthorisedDirectDebitDE - Transaction is related to a direct debit that is not pre authorised (Einzugsermächtigung). \n  * 04 - PreauthorisedDirectDebitDE - Transaction is related to a direct debit that is pre authorised (Abbuchungsauftrag). \n  * ISE - ImageBasedChequeCollection - Transaction is related to the German Image-based Cheque Collection Procedure “Imagegestützter Scheckeinzug - ISE”\n  * BSE - PaperlessChequeCollection - Transaction is related to the German Paperless Cheque Collection procedure “Belegloser Scheckeinzug - BSE”\n  * 58 - BusinessToBusinessDirectDebit - Transaction is related to a business-to-business direct debit (CSB58).\n  * 19 - BusinessToCustomerDirectDebit - Transaction is related to a business-to-customer direct debit (CSB19).\n  * ASTI - AncillarySystemTransferInitiation - Indicates that the payment is sent by an authorized third party on behalf of the participant. \n  * BACP - BackupPayment - Indicates that the payment was initiated manually using a GUI (Graphical User Interface).\n  * MANP - MandatedPayment - Indicates that the payment is sent by responsible Central Bank on behalf of the participant in case of contingency.\n  * SBTI - SettlementBankTransferInitiation - Indicates that the payment is submitted to move  liquidity to the technical account - dedicated to real-time settlement in an external system (for example ancillary system) . The payment is processed in a separate payment queue besides the normal processing.\n  * 85 - PreauthorisedDirectDebitAccéléréAcceleratedClearing2DayOrdinaireNormalClearing4Day - Transaction is related to an urgent direct debit that is pre authorised (Avis de Prélèvement accéléré).\n  * 08 - PreauthorisedDirectDebitOrdinaireNormalClearing4Day - Transaction is related to a direct debit that is pre authorised (Avis de Prélèvement).\n  * 89 - PreauthorisedDirectDebitVérifiéVerifiedClearing - Transaction is related to an urgent direct debit that is pre authorised (Avis de Prélèvement vérifié).\n  * 60 - RecoveredBillofExchangeorPromissoryNote - LCR - Lettre de Change Relevé (Recovered Bill of Exchange) and BOR - Billet à Orde Relevé (Promissory Note)\n  * RIBA - NonPreauthorisedDirectDebitRIBA - Transaction is related to a non-pre authorised collection (RIBA).\n  * RIDO - PreauthorisedRevocableDirectDebit - Transaction is related to a direct debit that is pre authorised and revocable (RID Ordinario).\n  * RIDV - PreauthorisedRevocableUrgentDirectDebit - Transaction is related to an urgent direct debit that is pre authorised and revocable (RID Veloce).\n  * IDEAL - PaymentsViaInternetOwnedByCurrence - Transaction is related to payments via internet owned by Currence.\n  * INSTNT01 - InstantCreditTransferNotTimeCritical - The transaction is related to a regular  Credit Transfer and will be instantly processed under the Dutch AOS on top of the EPC SCT scheme.\n  * INSTTC01 - InstantCreditTransferTimeCritical - The transaction is related to an Instant Credit Transfer under the rules of the Dutch AOS on top of the EPC SCT Inst scheme.\n  * INSTIDEAL - PaymentsViaInternetOwnedByCurrenceUsingInstantCreditTransfer - Transaction is related to payments via internet owned by Currence which uses an Instant Credit Transfer.\n  * INSTNT01IDEAL - PaymentsViaInternetOwnedByCurrenceUsingInstantCreditTransferNotTimeCritical - Transaction is related to payments via internet owned by Currence which uses a regular  Credit Transfer and will be instantly processed under the Dutch AOS on top of the EPC SCT scheme.\n  * INSTTC01IDEAL - PaymentsViaInternetOwnedByCurrenceUsingInstantCreditTransferTimeCritical - Transaction is related to payments via internet owned by Currence which uses an Instant Credit Transfer under the rules of the Dutch AOS on top of the EPC SCT Inst scheme.\n  * NLDO - DutchDomesticBulkPayment - Transaction is related to a Domestic payment initiated by PAIN.001\n  * NLUP - DutchUrgentPayment - Transaction is related to a Domestic payment initiated by PAIN.001\n  * SDN - PaymentsViaStandaardDigitaleNota - Transaction is related to payments via a ‘Standaard Digitale Nota’ InvoiceAcceptgiro payment.\n  * ACCEPT - PaymentViaAcceptgiroOwnedByCurrence - Transaction is related to payments via Acceptgiro owned by Currence.\n  * ICMC - IncidentManagementCorrection - Transaction is related to an Incident Management Correction procedure based on the DD infrastructure.\n  * NLGOV - DirectDebitInitiatedByTheGovernmentWithSpecialConditions - Transaction is related to direct debit scheme owned by the NVB.\n  * 0090 - MassPaymentBeneficiary - Transaction is related to mass payment beneficiary.\n  * 0091 - MassPaymentOurs - Transaction is related to mass payment ours.\n  * 0092 - MassPaymentShared - Transaction is related to mass payment shared.\n  * 0002 - StandingOrder - Transaction is related to standing order.\n  * 0221 - OneOffAuthorisation - Transaction is related to one-off authorisation.\n  * 0224 - OneOffAuthorisationCharities - Transaction is related to one-off authorisation charities.\n  * 0226 - OneOffAuthorisationConstructionIndustry - Transaction is related to one-off authorisation construction industry.\n  * 0225 - OneOffAuthorisationTuitionFees - Transaction is related to one-off authorisation tuition fees.\n  * 0222 - StandingAuthorisationCompanies - Transaction is related to standing authorisation companies.\n  * 0227 - StandingAuthorisationCompaniesWithoutDebtorRevocationRight - Transaction is related to standing authorisation companies without debtor revocation right.\n  * 0220 - StandingAuthorisationGeneral - Transaction is related to standing authorisation general.\n  * 0223 - StandingAuthorisationLotteries - Transaction is related to standing authorisation lotteries.\n  * 0001 - ConvertedBankPayment - Transaction is related to converted (bank) payment. Conversion of physical instrument to electonric form for transmission to the paying bank and where the original paper document does not continue in the clearing process.The instrument rules change upon conversion.\n  * 0000 - BusinessPayment - Transaction is related to business payment\n  * IN - CrossBorderCustomerCreditTransfer - Transaction is related to cross border customer credit transfer.\n  * ONCL - Overnight - Transaction is related to overnight clearing.\n  * PERI - PaymentWithERI - Credit transfer contains Extended Remittance Information (ERI) as defined within the applicable scheme.\n  * SDCL - SameDayClearedPayments - Transaction is related to New Zealand High Value Clearing System (HVCS) same day clearing payments.\n  * DDNR - CoreNoRefund - SEPA Core Direct Debit with ‘no refund’ option\n  * DDFA - DirectDebitFixedAmount - SEPA Fixed Amount Direct Debit\n  * CORE - SEPADirectDebitCore - Transaction is related to SEPA direct debit -core.\n  * B2BAMIPM - SEPAB2BDirectDebitAMI - SEPA B2B Direct Debit AMI based on a paper mandate\n  * B2B - SEPABusinessToBusinessDirectDebit - Transaction is related to SEPA business to business direct debit.\n  * CR1AMIPM - SEPACoreD1DirectDebitAMI - Optional shorter time cycle (D-1) for SEPA Core Direct Debit AMI based on a paper mandate\n  * CORAMIPM - SEPACoreDirectDebitAMI - SEPA Core Direct Debit AMI based on a paper mandate\n  * COR1 - SEPADirectDebit1DaySettlement - Optional shorter time cycle (D-1) for SEPA Core Direct Debit\n  * FADAMIPM - SEPAFADirectDebitAMI - SEPA Fixed Amount Direct Debit AMI based on a paper mandate\n  * CLSCCPERX - CLSClearedFXForEurex - Transaction is related to the CLSClearedFX service for Eurex.  Usage: The code is mandatory for all pacs.009 payments to this service.\n  * CLSCCPLCH - CLSClearedFXForLCH - Transaction is related to the CLSClearedFX service for London Exchange Clearing House. Usage: The code is mandatory for all pacs.009 payments to this service.\n  * INST - InstantCreditTransfer - Transaction is related to an Instant Credit Transfer. Use case example: SEPA Instant Credit Transfer (SCT Inst)\n  * ADD - AuthenticatedDirectDebit - Transaction is authenticated direct debit for domestic use.\n  * UDD - UnauthenticatedDirectDebit - Transaction is unauthenticated direct debit for domestic use.\n  * CCI - CashConcentrationIntragroup - Transaction is related to an intra-group bank initiated cash management payment\n  * BTR - BankTransfer - Transaction is related to a bank transfer.\n  * CKS - CheckSameDaySettlementWire - Transaction is related to check same day settlement wire.\n  * CTR - CustomerTransfer - Transaction is related to customer transfer.\n  * CTP - CustomerTransferPlus - Transaction is related to a customer transfer, which may include information related to a cover payment or extended remittance information.  \n  * DEP - DepositToSendersAccount - Transaction is related to deposit to sender's account.\n  * FFR - FedFundsReturned - Transaction is related to Fed funds returned.\n  * FFS - FedFundsSold - Transaction is related to Fed funds sold.\n  * SVC - NonValueServiceMessage - Transaction is related to non-value service message.\n  * DRW - DrawdownResponseValueToHonorADrawdownRequest - Transaction is related to drawdown response (value) to honor a drawdown request.\n  * DRB - BankToBankDrawdownRequestOrResponseNonvalue - Transaction is related to bank-to-bank drawdown request or response (non-value)\n  * DRC - CustomerOrCorporateDrawdownRequestOrResponseNonvalue - Transaction is related to customer or corporate drawdown request or response (non-value).\n  * IAT - InternationalACH - Transaction is related to international ACH.\n  * CCD - CashConcentrationOrDisbursementCorporateCounterparty - Transaction is related to cash concentration or disbursement corporate counterparty.\n  * CTX - CorporateTradeExchange - Transaction is related to corporate trade exchange.\n  * PPD - PrearrangedPaymentOrDepositConsumerCounterparty - Transaction is related to prearranged payment or deposit consumer counterparty.\n  * CIE - CustomerInitiatedEntry - A credit entry initiated by or on behalf of the holder of a consumer account\n  * RCK - RepresentedCheckEntry - Transaction is related to re-presented check entry.\n  * ARC - AccountsReceivableCheck - Transaction is related to accounts receivable check.\n  * WEB - InternetInitiatedEntry - Transaction is related to internet initiated entry.\n  * POP - PointOfPurchase - Transaction is related to point-of-purchase.\n  * POS - PointOfSale - Transaction is related to point-of-sale.\n  * TEL - TelephoneInitiatedEntry - Transaction is related to telephone initiated entry.\n  * ITP - InstantCreditTransferPreferred - Request-to-pay preferred payment via Instant Credit Transfer but Credit Transfer is also possible.\n  * CTP - CreditTransferPreferred - Request-to-pay preferred payment via Credit Transfer but Instant Credit Transfer is also possible.\n  * MDP - MultiDayPayment - Type of New Payments Architecture (NPA) payment. Payments are processed over a three-day cycle and available to customers early in the morning of Day 3.\n"},"serviceLevel":{"type":"string","minLength":1,"maxLength":35},"categoryPurpose":{"type":"string","example":"CONS","minLength":1,"maxLength":35}}},"amount":{"title":"Amount","type":"object","required":["amount","currency"],"properties":{"amount":{"type":"number","format":"float","example":1.01,"minimum":0,"maximum":99999999999},"currency":{"type":"string","example":"USD","default":"USD","minLength":3,"maxLength":3}}},"remittanceLocation":{"title":"RelatedRemittanceInformation","type":"object","required":["remittanceIdentification","remittanceLocationMethod"],"properties":{"remittanceIdentification":{"type":"string","minLength":1,"maxLength":35},"remittanceLocationMethod":{"type":"string","minLength":4,"maxLength":4},"remittanceElectronicAddress":{"type":"string","minLength":1,"maxLength":2048},"remittancePostalAddress":{"$ref":"#/definitions/postalAddress"},"remittancePostalAddressName":{"type":"string","minLength":1,"maxLength":70}}},"postalAddress":{"title":"PostalAddress","description":"Information that locates and identifies a specific address, as defined by postal services.","type":"object","properties":{"addressType":{"type":"string","minLength":4,"maxLength":4,"example":"ADDR"},"department":{"type":"string","minLength":1,"maxLength":70},"subDepartment":{"type":"string","minLength":1,"maxLength":70},"streetName":{"description":"Name of a street or throughfare","type":"string","minLength":1,"maxLength":140,"example":"Lexington Street"},"buildingNumber":{"type":"string","minLength":1,"maxLength":16},"buildingName":{"type":"string","minLength":1,"maxLength":140},"unit":{"type":"string","minLength":1,"maxLength":70},"floor":{"type":"string","minLength":1,"maxLength":70},"postBox":{"type":"string","minLength":1,"maxLength":16},"room":{"type":"string","minLength":1,"maxLength":70},"postCode":{"description":"Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail","type":"string","minLength":1,"maxLength":11,"example":19801},"townName":{"description":"Name of a built-up area, with defined boundaries, and a local government","type":"string","minLength":1,"maxLength":35,"example":"Wilmington"},"townLocationName":{"type":"string","minLength":1,"maxLength":35},"districtName":{"type":"string","minLength":1,"maxLength":35},"countrySubDivision":{"description":"Identifies a subdivision of a country such as state, region, county","type":"string","minLength":1,"maxLength":35,"example":"DE"},"country":{"description":"Nation with its own government","type":"string","minLength":2,"maxLength":2,"example":"US"},"addressLine":{"type":"string","minLength":1,"maxLength":70},"careOf":{"type":"string","minLength":1,"maxLength":140}}},"remittanceInformation":{"title":"RemittanceInformation","description":"Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.","type":"object","properties":{"unstructured":{"type":"array","items":{"type":"string","example":"Payment for Example Invoice 1234","minLength":1,"maxLength":140}},"structured":{"$ref":"#/definitions/structuredRemittanceInformation"}}},"structuredRemittanceInformation":{"title":"Structured","description":"Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in a structured form.","type":"array","items":{"type":"object","properties":{"referredDocumentInformation":{"$ref":"#/definitions/referredDocumentInformation"},"referredDocumentAmount":{"$ref":"#/definitions/remittanceAmount"},"creditorReferenceInformation":{"$ref":"#/definitions/creditorReferenceInformation"},"invoicer":{"$ref":"#/definitions/remittanceParty"},"invoicee":{"$ref":"#/definitions/remittanceParty"},"taxRemittance":{"$ref":"#/definitions/taxRemittance"},"garnishmentRemittance":{"$ref":"#/definitions/garnishmentRemittance"},"additionalRemittanceInformation":{"type":"array","items":{"type":"string","minLength":1,"maxLength":140}}}}},"referredDocumentInformation":{"title":"ReferredDocumentInformation","type":"array","items":{"type":"object","description":"Provides the identification and the content of the referred document.","properties":{"typeCode":{"type":"string","minLength":1,"maxLength":35},"typeIssuer":{"type":"string","minLength":1,"maxLength":35},"number":{"type":"string","minLength":1,"maxLength":35},"relatedDate":{"format":"date","example":"2021-08-13","minLength":10,"maxLength":10},"lineDetails":{"$ref":"#/definitions/lineDetails"}}}},"taxRemittance":{"title":"TaxRemittance","type":"object","description":"Provides remittance information about a payment made for tax-related purposes.","properties":{"creditor":{"$ref":"#/definitions/taxParty"},"debtor":{"$ref":"#/definitions/taxParty"},"ultimateDebtor":{"$ref":"#/definitions/taxParty"},"administrationZone":{"type":"string","minLength":1,"maxLength":35},"referenceNumber":{"type":"string","minLength":1,"maxLength":140},"method":{"type":"string","minLength":1,"maxLength":35},"totalTaxableBaseAmount":{"$ref":"#/definitions/amount"},"totalTaxAmount":{"$ref":"#/definitions/amount"},"date":{"format":"date","minLength":1,"maxLength":35},"sequenceNumber":{"type":"string","minLength":1,"maxLength":35},"record":{"$ref":"#/definitions/taxRecord"}}},"garnishmentRemittance":{"title":"GarnishmentRemittance","type":"object","description":"Provides remittance information about a payment for garnishment-related purposes.","properties":{"typeCode":{"type":"string","minLength":1,"maxLength":35},"typeIssuer":{"type":"string","minLength":1,"maxLength":35},"garnishee":{"$ref":"#/definitions/remittanceParty"},"garnishmentAdministrator":{"$ref":"#/definitions/remittanceParty"},"certificateIdentification":{"type":"string","minLength":1,"maxLength":35},"referenceNumber":{"type":"string","minLength":1,"maxLength":140},"date":{"format":"date","minLength":10,"maxLength":10},"remittedAmount":{"$ref":"#/definitions/amount"},"familyMedicalInsuranceIndicator":{"type":"boolean"},"employeeTerminationIndicator":{"type":"boolean"}}},"taxRecord":{"title":"Record","type":"object","description":"Record of tax details","properties":{"type":{"type":"string","minLength":1,"maxLength":35},"category":{"type":"string","minLength":1,"maxLength":35},"categoryDetails":{"type":"string","minLength":1,"maxLength":35},"debtorStatus":{"type":"string","minLength":1,"maxLength":35},"certificateIdentification":{"type":"string","minLength":1,"maxLength":35},"formsCode":{"type":"string","minLength":1,"maxLength":35},"period":{"$ref":"#/definitions/taxPeriod"},"taxAmountRate":{"type":"string"},"taxableBaseAmount":{"$ref":"#/definitions/amount"},"taxTotalAmount":{"$ref":"#/definitions/amount"},"taxAmountPeriod":{"$ref":"#/definitions/taxPeriod"},"taxAmount":{"$ref":"#/definitions/amount"},"additionalInformation":{"type":"array","items":{"type":"string","minLength":1,"maxLength":140}}}},"taxPeriod":{"title":"Period","type":"object","description":"Party to which the tax applies.","properties":{"year":{"type":"string","minLength":4,"maxLength":10},"type":{"type":"string","minLength":4,"maxLength":4},"taxType":{"type":"string","minLength":1,"maxLength":35},"fromDate":{"format":"date","minLength":10,"maxLength":10},"toDate":{"format":"date","minLength":10,"maxLength":10}}},"taxParty":{"title":"TaxParty","type":"object","description":"Party to which the tax applies.","properties":{"taxIdentification":{"type":"string","minLength":1,"maxLength":35},"registrationIdentification":{"type":"string","minLength":1,"maxLength":35},"taxType":{"type":"string","minLength":1,"maxLength":35},"authorisationTitle":{"type":"string","minLength":1,"maxLength":35},"authorisationName":{"type":"string","minLength":1,"maxLength":35}}},"lineDetails":{"title":"LineDetails","type":"array","items":{"type":"object","description":"Set of elements used to provide the content of the referred document line.","properties":{"lineIdentification":{"$ref":"#/definitions/lineIdentification"},"description":{"type":"string","minLength":1,"maxLength":2048},"amount":{"$ref":"#/definitions/remittanceAmount"}}}},"lineIdentification":{"title":"lineIdentification","type":"array","items":{"type":"object","description":"Set of elements used to provide the content of the referred document line.","properties":{"typeCode":{"type":"string","minLength":1,"maxLength":35},"typeIssuer":{"type":"string","minLength":1,"maxLength":35},"number":{"type":"string","minLength":1,"maxLength":35},"relatedDate":{"format":"date","example":"2021-08-13","minLength":10,"maxLength":10}}}},"creditorReferenceInformation":{"title":"CreditorReferenceInformation","type":"object","description":"Reference information provided by the creditor to allow the identification of the underlying documents.","properties":{"typeCode":{"type":"string","minLength":1,"maxLength":35},"typeIssuer":{"type":"string","minLength":1,"maxLength":35},"reference":{"type":"string","minLength":1,"maxLength":35}}},"remittanceAmount":{"title":"RemittanceAmount","type":"object","description":"Provides details on the amounts.","properties":{"duePayableAmount":{"$ref":"#/definitions/amount"},"discountAppliedAmount":{"$ref":"#/definitions/amountAndType"},"creditNoteAmount":{"$ref":"#/definitions/amount"},"taxAmt":{"$ref":"#/definitions/amountAndType"},"adjustmentAmountAndReason":{"$ref":"#/definitions/amountAndReason"},"remittedAmount":{"$ref":"#/definitions/amount"}}},"amountAndType":{"title":"AmountAndType","type":"array","items":{"type":"object","properties":{"typeCode":{"type":"string","minLength":1,"maxLength":35},"amount":{"$ref":"#/definitions/amount"}}}},"amountAndReason":{"title":"AdjustmentAmountAndReason","type":"array","items":{"type":"object","properties":{"amount":{"$ref":"#/definitions/amount"},"creditDebitIndicator":{"type":"string","minLength":4,"maxLength":4,"enum":["CRDT","DBIT"],"description":"A programmatic code:\n  * `CRDT - Operation is an increase.\n  * `DBIT - Operation is a decrease.\n"},"reason":{"type":"string","minLength":1,"maxLength":4},"additionalInformation":{"type":"string","minLength":1,"maxLength":140}}}},"remittanceParty":{"title":"Party","type":"object","description":"Identification of a person or an organisation","properties":{"name":{"type":"string","example":"Company ABC","minLength":1,"maxLength":140},"postalAddress":{"$ref":"#/definitions/postalAddress"},"organisationIdentification":{"$ref":"#/definitions/organisationIdentification"},"privateIdentification":{"$ref":"#/definitions/privateIdentification"},"countryOfResidence":{"type":"string","example":"CA","minLength":2,"maxLength":2},"contactDetails":{"$ref":"#/definitions/contactDetails"}}},"organisationIdentification":{"title":"OrganisationIdentification","type":"object","description":"Identification of an organisation","properties":{"anyBIC":{"type":"string","example":"NDEAFIHH","minLength":8,"maxLength":11},"lei":{"type":"string","minLength":20,"maxLength":20},"identification":{"type":"string","example":"1234567891","minLength":1,"maxLength":35},"identificationCode":{"type":"string","minLength":4,"maxLength":4,"enum":["BANK","CBID","CHID","CINC","COID","CUST","DUNS","EMPL","GS1G","SREN","SRET","TXID","BDID","BOID"],"description":"A programmatic code:\n  * BANK - BankPartyIdentification - Unique and unambiguous assignment made by a specific bank or similar financial institution to identify a relationship as defined between the bank and its client. \n  * CBID - CentralBankIdentificationNumber - A unique identification number assigned by a central bank to identify an organisation.\n  * CHID - ClearingIdentificationNumber - A unique identification number assigned by a clearing house to identify an organisation\n  * CINC - CertificateOfIncorporationNumber - A unique identification number assigned by a designated authority to a certificate of incorporation and used to identify an organisation.\n  * COID - CountryIdentificationCode - Country authority given organisation identification (e.g., corporate registration number)\n  * CUST - CustomerNumber - Number assigned by an issuer to identify a customer. Number assigned by a party to identify a creditor or debtor relationship.\"\n  * DUNS - DataUniversalNumberingSystem - A unique identification number provided by Dun & Bradstreet to identify an organisation.\n  * EMPL - EmployerIdentificationNumber - Number assigned by a registration authority to an employer.\n  * GS1G - GS1GLNIdentifier - Global Location Number. A non-significant reference number used to identify legal entities, functional entities, or physical entities according to GS1 numbering scheme rules.The number is used to retrieve detailed information that is linked to it.\n  * SREN - SIREN - The SIREN number is a 9 digit code assigned by INSEE, the French National Institute for Statistics and Economic Studies, to identify an organisation in France.\n  * SRET - SIRET - The SIRET number is a 14 digit code assigned by INSEE, the French National Institute for Statistics and Economic Studies, to identify an organisation unit in France. It consists of the SIREN number, followed by a five digit classification number, to identify the local geographical unit of that entity\n  * TXID - TaxIdentificationNumber - Number assigned by a tax authority to identify an organisation.\n  * BDID - BusinessDomainIdentifier - Identifier of the business domain in which the organisation is active.\n  * BOID - BusinessOtherIdentification - Other identification of the organisation.\n"},"issuer":{"type":"string","minLength":1,"maxLength":35}}},"privateIdentification":{"title":"PrivateIdentification","type":"object","description":"Unique and unambiguous identification of a person, for example a passport.","properties":{"birthDate":{"format":"date","example":"1967-08-13","minLength":10,"maxLength":10},"provinceOfBirth":{"type":"string","example":"Ontario","minLength":1,"maxLength":35},"cityOfBirth":{"type":"string","example":"Toronto","minLength":1,"maxLength":35},"countryOfBirth":{"type":"string","example":"CA","minLength":2,"maxLength":2},"identification":{"type":"string","example":"1234567891","minLength":1,"maxLength":35},"identificationCode":{"type":"string","minLength":4,"maxLength":4,"enum":["ARNU","BANK","CCPT","CUST","DRLC","EMPL","NIDN","SOSE","TELE","TXID","POID"],"description":"A programmatic code:\n  * ARNU - AlienRegistrationNumber - Number assigned by a social security agency to identify a non-resident person.\n  * BANK - BankPartyIdentification - Unique and unambiguous assignment made by a specific bank or similar financial institution to identify a relationship as defined between the bank and its client. \n  * CCPT - PassportNumber - Number assigned by an authority to identify the passport number of a person.\n  * CUST - CustomerIdentificationNumber - Number assigned by an issuer to identify a customer.\n  * DRLC - DriversLicenseNumber - Number assigned by an authority to identify a driver's license.\n  * EMPL - EmployeeIdentificationNumber - Number assigned by a registration authority to an employee.\n  * NIDN - NationalIdentityNumber - Number assigned by an authority to identify the national identity number of a person.\n  * SOSE - SocialSecurityNumber - Number assigned by an authority to identify the social security number of a person.\n  * TELE - TelephoneNumber - Number assigned by a telephone or mobile phone operator to identify a person. A person may have multiple phone numbers.\n  * TXID - TaxIdentificationNumber - Number assigned by a tax authority to identify a person.\n  * POID - PersonCommercialIdentification - Commercial identification of the person.\n"},"issuer":{"type":"string","minLength":1,"maxLength":35}}},"contactDetails":{"title":"Party","type":"object","description":"Set of elements used to indicate how to contact the party.","properties":{"namePrefix":{"type":"string","example":"DOCT","minLength":4,"maxLength":4},"name":{"type":"string","example":"John","minLength":1,"maxLength":140},"phoneNumber":{"type":"string","minLength":1,"maxLength":30},"mobileNumber":{"type":"string","minLength":1,"maxLength":30},"faxNumber":{"type":"string","minLength":1,"maxLength":30},"emailAddress":{"type":"string","minLength":1,"maxLength":2048},"emailPurpose":{"type":"string","minLength":1,"maxLength":35},"jobTitle":{"type":"string","minLength":1,"maxLength":35},"responsibility":{"type":"string","minLength":1,"maxLength":35},"department":{"type":"string","minLength":1,"maxLength":70},"channelType":{"type":"string","minLength":1,"maxLength":4},"channelTypeIdentification":{"type":"string","minLength":1,"maxLength":128},"preferredMethod":{"type":"string","minLength":4,"maxLength":4}}},"response-200":{"title":"InitiatePaymentResponse","type":"object","required":["transactionStatus","callback"],"properties":{"originalEndToEndIdentification":{"type":"string","description":"Unique identification, as assigned by the original initiating party, to unambiguously identify the original transaction.","example":"ABC13609-15-18","minLength":1,"maxLength":35},"originalInstructionIdentification":{"type":"string","description":"Unique identification, as assigned by the original initiating party, to unambiguously identify the original transaction.","example":"CCA14141","minLength":1,"maxLength":35},"accountServicerReference":{"type":"string","example":"ZZZ00001","minLength":1,"maxLength":35},"originalUniqueEndToEndTransactionReference":{"type":"string","example":"8a562c67-ca16-48ba-b074-65581be6f011","minLength":26,"maxLength":26,"pattern":"[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"},"transactionStatus":{"description":"Specifies the status of a transaction, in a coded form.","type":"string","example":"RCVD","minLength":1,"maxLength":35},"callback":{"description":"Callback URL get transaction status.","type":"string","example":"https://api.afinis.org/payments/v1/instant/callback"}}},"error-400":{"title":"Error 400 - Bad Request","description":"The request could not be understood or required parameters were missing","type":"object","properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-400"}}}},"errorDetails-400":{"title":"Error 400 - Bad Request - Details","type":"object","properties":{"errorCode":{"description":"A programmatic error code:\n  * `2000` - Invalid JSON structure.\n  * `2001` - '[Field name] is missing or invalid.'\n  * `2002` - Invalid date.\n  * `2003` - Invalid combination of fields submitted. Check the API specification for eligible combinations. \n  * `2004` - '[Field name] cannot be more than [max number] characters.'\n","example":2000,"type":"number","enum":[2000,2001,2002,2003,2004]},"message":{"description":"A human readable description of the problem","example":"Invalid JSON structure.","type":"string"}}},"error-401":{"title":"Error 401 - Unauthorized","description":"Authentication failed or user doesn’t have permissions for requested operation","type":"object","properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-401"}}}},"errorDetails-401":{"title":"Error 401 - Unauthorized - Details","type":"object","properties":{"errorCode":{"example":1000,"type":"number","enum":[1000,1001],"description":"A programmatic error code:\n  * `1000` - API key is missing, invalid or expired. \n  * `1001` - API token is invalid, expired, or account associated with key does not have access to that API.\n"},"message":{"description":"A human readable description of the problem","example":"API key is missing, invalid or expired.","type":"string"}},"required":["errorcode","message"]},"error-403":{"title":"Error 403 - Forbidden","description":"The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":403,"type":"number","enum":[403],"description":"A programmatic error code:\n  * `403` - Forbidden\n"},"message":{"description":"A human readable description of the problem","example":"Forbidden","type":"string"}}},"error-404":{"title":"Error 404 - Not Found","description":"Resource was not found.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":404,"type":"number","enum":[404],"description":"A programmatic error code:\n  * `404` - Resource was not found.\n"},"message":{"description":"A human readable description of the problem","example":"Resource was not found.","type":"string"}}},"error-405":{"title":"Error 405 - Method Not Allowed","description":"The request method is known by the server but has been disabled and cannot be used.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":405,"type":"number","enum":[405],"description":"A programmatic error code:\n  * `405` - Method Not Allowed\n"},"message":{"description":"A human readable description of the problem","example":"Method Not Allowed","type":"string"}}},"error-406":{"title":"Error 406 - Not Acceptable","description":"Web server doesn't find any content that conforms to the criteria given by the user agent.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":406,"type":"number","enum":[406],"description":"A programmatic error code:\n  * `406` - Not Acceptable\n"},"message":{"description":"A human readable description of the problem","example":"Not Acceptable","type":"string"}}},"error-415":{"title":"Error 415 - Unsupported Media Type","description":"The media format of the requested data is not supported by the server, so the server is rejecting the request.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":415,"type":"number","enum":[415],"description":"A programmatic error code:\n  * `415` - Unsupported Media Type\n"},"message":{"description":"A human readable description of the problem","example":"Unsupported Media Type","type":"string"}}},"error-422":{"title":"Unprocessable request","description":"422 - Unprocessable request","type":"object","required":["details"],"properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/unprocessableRequestErrorDetails"}}}},"unprocessableRequestErrorDetails":{"title":"Unprocessable request Error Details","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":4001,"type":"number","enum":[4001],"description":"A programmatic error code:\n  * `4001` - Unprocessable request due to \"%%\"\n"},"message":{"description":"A human readable description of the problem","example":"Unprocessable request due to \"%%\"","type":"string"}}},"error-500":{"title":"Internal Server Error","description":"500 - Internal Server Error","type":"object","required":["details"],"properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/internalServerErrorDetails"}}}},"internalServerErrorDetails":{"title":"Internal Server Error Details","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":3001,"type":"number","enum":[3001],"description":"A programmatic error code:\n  * `3001` - Internal Server error.\n"},"message":{"description":"A human readable description of the problem","example":"Internal Server error","type":"string"}}},"error-503":{"title":"Error 503 - Service Unavailable","description":"Service is temporarily unavailable","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":503,"type":"number","enum":[503],"description":"A programmatic error code:\n  * `503` - Service Unavailable\n"},"message":{"description":"A human readable description of the problem","example":"Service is temporarily unavailable.","type":"string"}}}}}