{"swagger":"2.0","info":{"version":"1.0.0","title":"Get Wire Status","description":"Wire Status API will enable Originator of the wire to know the status of the wire payment.","contact":{"email":"info@afinis.org","url":"https://www.afinis.org"}},"host":"api.asig.org","basePath":"/payments/v1","securityDefinitions":{"APIKeyQueryParam":{"type":"apiKey","in":"query","name":"apikey"}},"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/wirestatus":{"post":{"operationId":"Wire Status","tags":["Wire Transfer"],"summary":"Wire Status","description":"Wire Status","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"WireStatus","required":true,"description":"Get Wire Status","schema":{"type":"object","required":["paymentIdentification"],"properties":{"debtor":{"$ref":"#/definitions/party"},"paymentIdentification":{"$ref":"#/definitions/paymentIdentification"}}}},{"name":"Request_Id","in":"header","required":false,"type":"string","format":"uuid","description":"Optional Request ID allows application developer to trace requests through the systems logs"}],"responses":{"200":{"description":"Wire Status RCVD","schema":{"$ref":"#/definitions/response-200"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/error-400"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/error-401"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/error-403"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error-404"}},"405":{"description":"Method Not Allowed","schema":{"$ref":"#/definitions/error-405"}},"406":{"description":"Not Acceptable","schema":{"$ref":"#/definitions/error-406"}},"415":{"description":"Unsupported Media Type","schema":{"$ref":"#/definitions/error-415"}},"422":{"description":"Unprocessable request","schema":{"$ref":"#/definitions/error-422"}},"500":{"description":"Internal Server error","schema":{"$ref":"#/definitions/error-500"}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/error-503"}}},"security":[{"APIKeyQueryParam":[]}]}}},"definitions":{"party":{"title":"Party","type":"object","description":"Identification of a person or an organisation","properties":{"identification":{"type":"string","example":"1234567891","minLength":1,"maxLength":35},"identificationCode":{"type":"string","example":"CBID","minLength":4,"maxLength":4,"enum":["BANK","CBID","CHID","CINC","COID","DUNS","GS1G","SREN","SRET","ARNU","CCPT","CUST","DRLC","EMPL","NIDN","SOSE","TELE","TXID"],"description":"A programmatic code:\n  * `BANK - Unique and unambiguous assignment made by a specific bank or similar financial institution to identify a relationship as defined between the bank and its client. \n  * `CBID - A unique identification number assigned by a central bank to identify an organisation.\n  * `CHID - A unique identification number assigned by a clearing house to identify an organisation\n  * `CINC - A unique identification number assigned by a designated authority to a certificate of incorporation and used to identify an organisation.\n  * `COID - Country authority given organisation identification (e.g., corporate registration number)\n  * `DUNS - A unique identification number provided by Dun & Bradstreet to identify an organisation.\n  * `GS1G - Global Location Number. A non-significant reference number used to identify legal entities, functional entities, or physical entities according to GS1 numbering scheme rules.The number is used to retrieve detailed information that is linked to it.\n  * `SREN - The SIREN number is a 9 digit code assigned by INSEE, the French National Institute for Statistics and Economic Studies, to identify an organisation in France.\n  * `SRET - The SIRET number is a 14 digit code assigned by INSEE, the French National Institute for Statistics and Economic Studies, to identify an organisation unit in France. It consists of the SIREN number, followed by a five digit classification number, to identify the local geographical unit of that entity\n  * `ARNU - Number assigned by a social security agency to identify a non-resident person.\n  * `CCPT - Number assigned by an authority to identify the passport number of a person.\n  * `CUST - Number assigned by an issuer to identify a customer.\n  * `DRLC - Number assigned by an authority to identify a driver's license.\n  * `EMPL - Number assigned by a registration authority to an employee.\n  * `NIDN - Number assigned by an authority to identify the national identity number of a person.\n  * `SOSE - Number assigned by an authority to identify the social security number of a person.\n  * `TELE - Number assigned by a telephone or mobile phone operator to identify a person. A person may have multiple phone numbers.\n  * `TXID - Number assigned by a tax authority to identify a person.\n"},"identificationCodeIssuer":{"type":"string","example":"Test Bank of Virginia","minLength":1,"maxLength":35}}},"paymentIdentification":{"title":"PaymentIdentification","type":"object","properties":{"endToEndIdentification":{"type":"string","example":"ABC13609-15-18","minLength":1,"maxLength":35},"uniqueEndToEndTransactionReference":{"type":"string","example":"E2ERef1","minLength":1,"maxLength":36},"accountServicerReference":{"type":"string","example":"ABC","minLength":1,"maxLength":35},"clearingSystemReference":{"type":"string","example":"Fedwire ID","minLength":1,"maxLength":35}}},"statusReasonInformation":{"title":"StatusReasonInformation","type":"object","properties":{"reason":{"type":"string","example":"NARR","minLength":1,"maxLength":34,"enum":["PDNG","ACSP","ACSC","ACCC","RJCT","CNCL","AC05","AC06","AG03","AM04","AM14","DUPL","NARR"],"description":"A programmatic code:\n  * 'PDNG' - Payment instruction is pending. Further checks and status update will be performed.\n  * 'ACSP' - All preceding checks such as technical validation and customer profile were successful and therefore the payment instruction has been accepted for execution.\n  * 'ACSC' - Settlement Completed\n  * 'ACCC' - Settlement on the creditor's account has been completed.\n  * 'RJCT' - Payment initiation failed\n  * 'CNCL' - Payment initiation has been successfully cancelled after having received a request for cancellation.\n  * 'AC05' - Closed Debtor Account\n  * 'AC06' - Blocked Account \n  * 'AG03' - Transaction Not Supported\n  * 'AM04' - Insufficient Funds\n  * 'AM14' - Amount Exceeds Agreed Limit \n  * 'DUPL' - Duplicate Payment \n  * 'NARR' - Narrative - Must be followed by the reason in free-formatted text in Additional Information.\n"},"additionalInformation":{"type":"string","example":"Please call Wire Department","minLength":1,"maxLength":105}}},"response-200":{"title":"WireStatusResponse","type":"object","required":["transactionStatus"],"properties":{"paymentIdentification":{"$ref":"#/definitions/paymentIdentification"},"transactionStatus":{"description":"Specifies the status of a transaction, in a coded form.","type":"string","example":"RCVD"},"statusReasonInformation":{"$ref":"#/definitions/statusReasonInformation"}}},"error-400":{"title":"Error 400 - Bad Request","description":"The request could not be understood or required parameters were missing","type":"object","properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-400"}}}},"errorDetails-400":{"title":"Error 400 - Bad Request - Details","type":"object","properties":{"errorCode":{"description":"A programmatic error code:\n  * `2000` - Invalid JSON structure.\n  * `2001` - '[Field name] is missing or invalid.'\n  * `2002` - Invalid date.\n  * `2003` - Invalid combination of fields submitted. Check the API specification for eligible combinations. \n  * `2004` - '[Field name] cannot be more than [max number] characters.'\n","example":2000,"type":"number","enum":[2000,2001,2002,2003,2004]},"message":{"description":"A human readable description of the problem","example":"Invalid JSON structure.","type":"string"}}},"error-401":{"title":"Error 401 - Unauthorized","description":"Authentication failed or user doesn’t have permissions for requested operation","type":"object","properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/errorDetails-401"}}}},"errorDetails-401":{"title":"Error 401 - Unauthorized - Details","type":"object","properties":{"errorCode":{"example":1000,"type":"number","enum":[1000,1001],"description":"A programmatic error code:\n  * `1000` - API key is missing, invalid or expired. \n  * `1001` - API token is invalid, expired, or account associated with key does not have access to that API.\n"},"message":{"description":"A human readable description of the problem","example":"API key is missing, invalid or expired.","type":"string"}},"required":["errorcode","message"]},"error-403":{"title":"Error 403 - Forbidden","description":"The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":403,"type":"number","enum":[403],"description":"A programmatic error code:\n  * `403` - Forbidden\n"},"message":{"description":"A human readable description of the problem","example":"Forbidden","type":"string"}}},"error-404":{"title":"Error 404 - Not Found","description":"Resource was not found.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":404,"type":"number","enum":[404],"description":"A programmatic error code:\n  * `404` - Resource was not found.\n"},"message":{"description":"A human readable description of the problem","example":"Resource was not found.","type":"string"}}},"error-405":{"title":"Error 405 - Method Not Allowed","description":"The request method is known by the server but has been disabled and cannot be used.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":405,"type":"number","enum":[405],"description":"A programmatic error code:\n  * `405` - Method Not Allowed\n"},"message":{"description":"A human readable description of the problem","example":"Method Not Allowed","type":"string"}}},"error-406":{"title":"Error 406 - Not Acceptable","description":"Web server doesn't find any content that conforms to the criteria given by the user agent.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":406,"type":"number","enum":[406],"description":"A programmatic error code:\n  * `406` - Not Acceptable\n"},"message":{"description":"A human readable description of the problem","example":"Not Acceptable","type":"string"}}},"error-415":{"title":"Error 415 - Unsupported Media Type","description":"The media format of the requested data is not supported by the server, so the server is rejecting the request.","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":415,"type":"number","enum":[415],"description":"A programmatic error code:\n  * `415` - Unsupported Media Type\n"},"message":{"description":"A human readable description of the problem","example":"Unsupported Media Type","type":"string"}}},"error-422":{"title":"Unprocessable request","description":"422 - Unprocessable request","type":"object","required":["details"],"properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/unprocessableRequestErrorDetails"}}}},"unprocessableRequestErrorDetails":{"title":"Unprocessable request Error Details","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":4001,"type":"number","enum":[4001],"description":"A programmatic error code:\n  * `4001` - Unprocessable request due to \"%%\"\n"},"message":{"description":"A human readable description of the problem","example":"Unprocessable request due to \"%%\"","type":"string"}}},"error-500":{"title":"Internal Server Error","description":"500 - Internal Server Error","type":"object","required":["details"],"properties":{"details":{"description":"error details","type":"array","items":{"$ref":"#/definitions/internalServerErrorDetails"}}}},"internalServerErrorDetails":{"title":"Internal Server Error Details","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":3001,"type":"number","enum":[3001],"description":"A programmatic error code:\n  * `3001` - Internal Server error.\n"},"message":{"description":"A human readable description of the problem","example":"Internal Server error","type":"string"}}},"error-503":{"title":"Error 503 - Service Unavailable","description":"Service is temporarily unavailable","type":"object","required":["errorCode","message"],"properties":{"errorCode":{"example":503,"type":"number","enum":[503],"description":"A programmatic error code:\n  * `503` - Service Unavailable\n"},"message":{"description":"A human readable description of the problem","example":"Service is temporarily unavailable.","type":"string"}}}}}